{
    "swagger": "2.0",
    "info": {
        "description": "Welcome to QuantiModo API! QuantiModo makes it easy to retrieve normalized user data from a wide array of devices and applications. [Learn about QuantiModo](https://quantimo.do) or contact us at <api@quantimo.do>.\n\n\n\n\n\n\n\n\nBefore you get started, you will need to:\n* Sign in/Sign up, and add some data at [https://app.quantimo.do/api/v2/account/connectors](https://app.quantimo.do/api/v2/account/connectors) to try out the API for yourself\n* Create an app to get your client id and secret at [https://app.quantimo.do/api/v2/apps](https://app.quantimo.do/api/v2/apps)\n* As long as you're signed in, it will use your browser's cookie for authentication.  However, client applications must use OAuth2 tokens to access the API.\n\n\n\n\n## Application Endpoints\nThese endpoints give you access to all authorized users' data for that application.\n### Getting Application Token\nMake a `POST` request to `/api/v2/oauth/access_token`\n\n\n\n\n\n\n\n * `grant_type` Must be `client_credentials`.\n\n\n\n\n\n\n\n * `clientId` Your application's clientId.\n\n\n\n\n\n\n\n * `client_secret` Your application's client_secret.\n\n\n\n\n\n\n\n * `redirect_uri` Your application's redirect url.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Example Queries\n### Query Options\nThe standard query options for QuantiModo API are as described in the table below. These are the available query options in QuantiModo API:\n<table>\n\n\n\n\n\n\n\n    <thead>\n\n\n\n\n\n\n\n        <tr>\n\n\n\n\n\n\n\n            <th>Parameter</th>\n\n\n\n\n\n\n\n            <th>Description</th>\n\n\n\n\n\n\n\n        </tr>\n\n\n\n\n\n\n\n    </thead>\n\n\n\n\n\n\n\n    <tbody>\n\n\n\n\n\n\n\n        <tr>\n\n\n\n\n\n\n\n            <td>limit</td>\n\n\n\n\n\n\n\n            <td>The LIMIT is used to limit the number of results returned.\n\nSo\nif you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.</td>\n\n\n\n\n\n\n\n        </tr>\n\n\n\n\n\n\n\n        <tr>\n\n\n\n\n\n\n\n            <td>offset</td>\n\n\n\n\n\n\n\n            <td>Suppose you wanted to show results 11-20. You'd set the\n\n\n\noffset to 10 and the limit to 10.</td>\n\n\n\n\n\n\n\n        </tr>\n\n\n\n\n\n\n\n        <tr>\n\n\n\n\n\n\n\n            <td>sort</td>\n\n\n\n\n\n\n\n            <td>Sort by given field. If the field is prefixed with '-', it\n\n\n\nwill sort in descending order.</td>\n\n\n\n\n\n\n\n        </tr>\n\n\n\n\n\n\n\n    </tbody>\n\n\n\n\n\n\n\n</table>\n\n\n\n\n\n\n\n\n### Pagination Conventions\nSince the maximum limit is 200 records, to get more than that you'll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the `limit` and `offset` query parameters.For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters,\n\n\n\n\n\n\n\n\n`/v2/variables?limit=20&offset=60`\n\n\n\n\n\n\n\n\nGenerally, you'll be retrieving new or updated user data. To avoid unnecessary API calls, you'll want to store your last refresh time locally.  Initially, it should be set to 0. Then whenever you make a request to get new data, you should limit the returned results to those updated since your last refresh by appending append\n\n\n\n\n\n\n\n\n`?lastUpdated=(ge)&quot2013-01-D01T01:01:01&quot`\n\n\n\n\n\n\n\n\nto your request.\n\n\n\n\n\n\n\n\nAlso for better pagination, you can get link to the records of first, last, next and previous page from response headers:\n* `Total-Count` - Total number of results for given query\n* `Link-First` - Link to get first page records\n* `Link-Last` - Link to get last page records\n* `Link-Prev` - Link to get previous records set\n* `Link-Next` - Link to get next records set\n\n\n\n\n\n\n\n\nRemember, response header will be only sent when the record set is available. e.g. You will not get a ```Link-Last``` & ```Link-Next``` when you query for the last page.\n\n\n\n\n\n\n\n\n### Filter operators support\nAPI supports the following operators with filter parameters:\n<br>\n**Comparison operators**\n\n\n\n\n\n\n\n\nComparison operators allow you to limit results to those greater than, less than, or equal to a specified value for a specified attribute. These operators can be used with strings, numbers, and dates. The following comparison operators are available:\n* `gt` for `greater than` comparison\n* `ge` for `greater than or equal` comparison\n* `lt` for `less than` comparison\n* `le` for `less than or equal` comparison\n\n\n\n\n\n\n\n\nThey are included in queries using the following format:\n\n\n\n\n\n\n\n\n`(<operator>)<value>`\n\n\n\n\n\n\n\n\nFor example, in order to filter value which is greater than 21, the following query parameter should be used:\n\n\n\n\n\n\n\n\n`?value=(gt)21`\n<br><br>\n**Equals/In Operators**\n\n\n\n\n\n\n\n\nIt also allows filtering by the exact value of an attribute or by a set of values, depending on the type of value passed as a query parameter. If the value contains commas, the parameter is split on commas and used as array input for `IN` filtering, otherwise the exact match is applied. In order to only show records which have the value 42, the following query should be used:\n\n\n\n\n\n\n\n\n`?value=42`\n\n\n\n\n\n\n\n\nIn order to filter records which have value 42 or 43, the following query should be used:\n\n\n\n\n\n\n\n\n`?value=42,43`\n<br><br>\n**Like operators**\n\n\n\n\n\n\n\n\nLike operators allow filtering using `LIKE` query. This operator is triggered if exact match operator is used, but value contains `%` sign as the first or last character. In order to filter records which category that start with `Food`, the following query should be used:\n\n\n\n\n\n\n\n\n`?category=Food%`\n<br><br>\n**Negation operator**\n\n\n\n\n\n\n\n\nIt is possible to get negated results of a query by prefixed the operator with `!`. Some examples:\n\n\n\n\n\n\n\n\n`//filter records except those with value are not 42 or 43`<br>\n`?value=!42,43`\n\n\n\n\n\n\n\n\n`//filter records with value not greater than 21`<br>\n`?value=!(ge)21`\n<br><br>\n**Multiple constraints for single attribute**\n\n\n\n\n\n\n\n\nIt is possible to apply multiple constraints by providing an array of query filters:\n\n\n\n\n\n\n\n\nFilter all records which value is greater than 20.2 and less than 20.3<br>\n`?value[]=(gt)20.2&value[]=(lt)20.3`\n\n\n\n\n\n\n\n\nFilter all records which value is greater than 20.2 and less than 20.3 but not 20.2778<br>\n`?value[]=(gt)20.2&value[]=(lt)20.3&value[]=!20.2778`<br><br>\n",
        "version": "2.0.6",
        "title": "QuantiModo",
        "termsOfService": "https://quantimo.do/terms/",
        "contact": {
            "name": "info@quantimo.do"
        }
    },
    "basePath": "/api",
    "host": "app.quantimo.do",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "oauth2": [
                "basic",
                "readmeasurements",
                "writemeasurements"
            ]
        },
        {
            "internalApiKey": []
        }
    ],
    "paths": {
        "/v1/connect.js": {
            "get": {
                "tags": [
                    "connectors"
                ],
                "summary": "Get embeddable connect javascript",
                "description": "Get embeddable connect javascript. Usage:\n\n  - Embedding in applications with popups for 3rd-party authentication\nwindows.\n\n    Use `qmSetupInPopup` function after connecting `connect.js`.\n\n  - Embedding in applications with popups for 3rd-party authentication\nwindows.\n\n    Requires a selector to block. It will be embedded in this block.\n\n    Use `qmSetupOnPage` function after connecting `connect.js`.\n\n  - Embedding in mobile applications without popups for 3rd-party\nauthentication.\n\n    Use `qmSetupOnMobile` function after connecting `connect.js`.\n\n    if using the MoodiModo Clones, Use `qmSetupOnIonic` function after connecting `connect.js`. ",
                "produces": [
                    "application/x-javascript"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Embeddable connect javascript was returned"
                    }
                }
            }
        },
        "/v1/connect/mobile": {
            "get": {
                "tags": [
                    "connectors"
                ],
                "summary": "Mobile connect page",
                "description": "This page is designed to be opened in a webview.  Instead of using popup authentication boxes, it uses redirection. You can include the user's access_token as a URL parameter like https://app.quantimo.do/api/v1/connect/mobile?access_token=123",
                "produces": [
                    "text/html"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User OAuth access token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mobile connect page was returned"
                    },
                    "401": {
                        "description": "User token is missing"
                    },
                    "403": {
                        "description": "User token is incorrect"
                    }
                }
            }
        },
        "/v1/connectors/list": {
            "get": {
                "tags": [
                    "connectors"
                ],
                "summary": "List of Connectors",
                "description": "A connector pulls data from other data providers using their API or a screenscraper. Returns a list of all available connectors and information about them such as their id, name, whether the user has provided access, logo url, connection instructions, and the update history.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Connector"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/connectors/{connector}/connect": {
            "get": {
                "tags": [
                    "connectors"
                ],
                "summary": "Obtain a token from 3rd party data source",
                "description": "Attempt to obtain a token from the data provider, store it in the database. With this, the connector to continue to obtain new user data until the token is revoked.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "connector",
                        "description": "Lowercase system name of the source application or device. Get a list of available connectors from the /connectors/list endpoint.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Not Authenticated"
                    },
                    "404": {
                        "description": "Method not found. Could not execute the requested method."
                    },
                    "500": {
                        "description": "Error during update. Unsupported response from update()."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/connectors/{connector}/connectParameter": {
            "get": {
                "tags": [
                    "connectors"
                ],
                "summary": "Connect Parameter",
                "description": "Returns instructions that describe what parameters and endpoint to use to connect to the given data provider.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "connector",
                        "description": "Lowercase system name of the source application or device. Get a list of available connectors from the /connectors/list endpoint.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "defaultValue",
                        "description": "Default parameter value",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "displayName",
                        "description": "Name of the parameter that is user visible in the form",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "key",
                        "description": "Name of the property that the user has to enter such as username or password Connector (used in HTTP request)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "placeholder",
                        "description": "Placeholder hint value for the parameter input tag.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "Type of input field such as those found here http://www.w3schools.com/tags/tag_input.asp",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "usePopup",
                        "description": "Should use popup when enabling connector",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/ConnectorInstruction"
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    },
                    "404": {
                        "description": "Method not found. Could not execute the requested method."
                    },
                    "500": {
                        "description": "Error during update. Unsupported response from update()."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/connectors/{connector}/connectInstructions": {
            "get": {
                "tags": [
                    "connectors"
                ],
                "summary": "Connection Instructions",
                "description": "Returns instructions that describe what parameters and endpoint to use to connect to the given data provider.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "connector",
                        "description": "Lowercase system name of the source application or device. Get a list of available connectors from the /connectors/list endpoint.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "parameters",
                        "description": "JSON Array of Parameters for the request to enable connector.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "url",
                        "description": "URL which should be used to enable the connector.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "usePopup",
                        "description": "Should use popup when enabling connector",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Not Authenticated"
                    },
                    "404": {
                        "description": "Method not found. Could not execute the requested method."
                    },
                    "500": {
                        "description": "Error during update. Unsupported response from update()."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/connectors/{connector}/disconnect": {
            "get": {
                "tags": [
                    "connectors"
                ],
                "summary": "Delete stored connection info",
                "description": "The disconnect method deletes any stored tokens or connection information from the connectors database.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "connector",
                        "description": "Lowercase system name of the source application or device. Get a list of available connectors from the /connectors/list endpoint.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Not Authenticated"
                    },
                    "404": {
                        "description": "Method not found. Could not execute the requested method."
                    },
                    "500": {
                        "description": "Error during update. Unsupported response from update()."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/connectors/{connector}/info": {
            "get": {
                "tags": [
                    "connectors"
                ],
                "summary": "Get connector info for user",
                "description": "Returns information about the connector such as the connector id, whether or not is connected for this user (i.e. we have a token or credentials), and its update history for the user.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "connector",
                        "description": "Lowercase system name of the source application or device. Get a list of available connectors from the /connectors/list endpoint.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "schema": {
                            "$ref": "#/definitions/ConnectorInfo"
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    },
                    "404": {
                        "description": "Method not found. Could not execute the requested method."
                    },
                    "500": {
                        "description": "Error during update. Please contact info@quantimo.do."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/connectors/{connector}/update": {
            "get": {
                "tags": [
                    "connectors"
                ],
                "summary": "Sync with data source",
                "description": "The update method tells the QM Connector Framework to check with the data provider (such as Fitbit or MyFitnessPal) and retrieve any new measurements available.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "connector",
                        "description": "Lowercase system name of the source application or device",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Connection Successful"
                    },
                    "401": {
                        "description": "Not Authenticated"
                    },
                    "404": {
                        "description": "Method not found. Could not execute the requested method."
                    },
                    "500": {
                        "description": "Error during update. Unsupported response from update()."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/correlations": {
            "get": {
                "tags": [
                    "correlations"
                ],
                "summary": "Get correlations",
                "description": "Get correlations based on data from a single user.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "effect",
                        "description": "ORIGINAL variable name of the effect variable for which the user desires correlations",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "cause",
                        "description": "ORIGINAL variable name of the cause variable for which the user desires correlations",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "correlationCoefficient",
                        "description": "Pearson correlation coefficient between cause and effect after lagging by onset delay and grouping by duration of action",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "onsetDelay",
                        "description": "The amount of time in seconds that elapses after the predictor/stimulus event before the outcome as perceived by a self-tracker is known as the “onset delay”. For example, the “onset delay” between the time a person takes an aspirin (predictor/stimulus event) and the time a person perceives a change in their headache severity (outcome) is approximately 30 minutes.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "durationOfAction",
                        "description": "The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable’s value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "lastUpdated",
                        "description": "The time that this measurement was last updated in the UTC format \"YYYY-MM-DDThh:mm:ss\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Now suppose you wanted to show results 11-20. You'd set the offset to 10 and the limit to 10.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "sort",
                        "description": "Sort by given field. If the field is prefixed with `-, it will sort in descending order.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Correlation"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/aggregatedCorrelations": {
            "get": {
                "tags": [
                    "correlations"
                ],
                "summary": "Get aggregated correlations",
                "description": "Get correlations based on the anonymized aggregate data from all QuantiModo users.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "effect",
                        "description": "ORIGINAL variable name of the effect variable for which the user desires correlations",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "cause",
                        "description": "ORIGINAL variable name of the cause variable for which the user desires correlations",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "correlationCoefficient",
                        "description": "Pearson correlation coefficient between cause and effect after lagging by onset delay and grouping by duration of action",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "onsetDelay",
                        "description": "The amount of time in seconds that elapses after the predictor/stimulus event before the outcome as perceived by a self-tracker is known as the “onset delay”. For example, the “onset delay” between the time a person takes an aspirin (predictor/stimulus event) and the time a person perceives a change in their headache severity (outcome) is approximately 30 minutes.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "durationOfAction",
                        "description": "The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable’s value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "lastUpdated",
                        "description": "The time that this measurement was last updated in the UTC format \"YYYY-MM-DDThh:mm:ss\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Now suppose you wanted to show results 11-20. You'd set the offset to 10 and the limit to 10.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "sort",
                        "description": "Sort by given field. If the field is prefixed with `-, it will sort in descending order.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Correlation"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "correlations"
                ],
                "summary": "Store or Update a Correlation",
                "description": "Add correlation",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Provides correlation data",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostCorrelation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation"
                    },
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/JsonErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/public/correlations/search/{search}": {
            "get": {
                "tags": [
                    "correlations"
                ],
                "summary": "Get average correlations for variables containing search term",
                "description": "Returns the average correlations from all users for all public variables that contain the characters in the search query. Returns average of all users public variable correlations with a specified cause or effect.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "search",
                        "description": "Name of the variable that you want to know the causes or effects of.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "effectOrCause",
                        "description": "Setting this to effect indicates that the searched variable is the effect and that the causes of this variable should be returned.  cause indicates that the searched variable is the cause and the effects should be returned.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Correlation"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/variables/{variableName}/public/causes": {
            "get": {
                "tags": [
                    "correlations"
                ],
                "summary": "Search public correlations for a given effect",
                "description": "Returns average of all correlations and votes for all public cause variables for a given effect",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "correlationCoefficient",
                        "description": "You can use this to get causes with correlations greater than or less than 0",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "variableName",
                        "description": "Effect variable name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Correlation"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/variables/{variableName}/public/effects": {
            "get": {
                "tags": [
                    "correlations"
                ],
                "summary": "Search public correlations for a given cause",
                "description": "Returns average of all correlations and votes for all public cause variables for a given cause",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "variableName",
                        "description": "Cause variable name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Correlation"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/variables/{variableName}/causes": {
            "get": {
                "tags": [
                    "correlations"
                ],
                "summary": "Search user correlations for a given effect",
                "description": "Returns average of all correlations and votes for all user cause variables for a given effect",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "variableName",
                        "description": "Effect variable name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Correlation"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/variables/{variableName}/effects": {
            "get": {
                "tags": [
                    "correlations"
                ],
                "summary": "Search user correlations for a given cause",
                "description": "Returns average of all correlations and votes for all user effect variables for a given cause",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "correlationCoefficient",
                        "description": "You can use this to get effects with correlations greater than or less than 0",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "variableName",
                        "description": "Cause variable name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Correlation"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/organizations/{organizationId}/users/{userId}/variables/{variableName}/causes": {
            "get": {
                "tags": [
                    "correlations"
                ],
                "summary": "Search user correlations for a given cause",
                "description": "Returns average of all correlations and votes for all user cause variables for a given cause. If parameter \"include_public\" is used, it also returns public correlations. User correlation overwrites or supersedes public correlation.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "organizationId",
                        "description": "Organization ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "User id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "variableName",
                        "description": "Effect variable name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "organization_token",
                        "description": "Organization access token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "includePublic",
                        "description": "Include public correlations, Can be \"1\" or empty.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Correlation"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/organizations/{organizationId}/users/{userId}/variables/{variableName}/effects": {
            "get": {
                "tags": [
                    "correlations"
                ],
                "summary": "Search user correlations for a given cause",
                "description": "Returns average of all correlations and votes for all user cause variables for a given effect. If parameter \"include_public\" is used, it also returns public correlations. User correlation overwrites or supersedes public correlation.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "organizationId",
                        "description": "Organization ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "User id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "path",
                        "name": "variableName",
                        "description": "Cause variable name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "organization_token",
                        "description": "Organization access token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "include_public",
                        "description": "Include public correlations, Can be \"1\" or empty.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CommonResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/measurements": {
            "get": {
                "tags": [
                    "measurements"
                ],
                "summary": "Get measurements for this user",
                "description": "Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten. <br>Supported filter parameters:<br><ul><li><b>value</b> - Value of measurement</li><li><b>lastUpdated</b> - The time that this measurement was created or last updated in the UTC format \"YYYY-MM-DDThh:mm:ss\"</li></ul><br>",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Measurement id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "variableName",
                        "description": "Name of the variable you want measurements for",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "variableCategoryName",
                        "description": "Name of the variable category you want measurements for",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "source",
                        "description": "Name of the source you want measurements for (supports exact name match only)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "value",
                        "description": "Value of measurement",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "lastUpdated",
                        "description": "The time that this measurement was created or last updated in the format \"YYYY-MM-DDThh:mm:ss\"",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "unit",
                        "description": "The unit you want the measurements returned in",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "startTime",
                        "description": "The lower limit of measurements returned (Epoch)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "createdAt",
                        "description": "The time the measurement record was first created in the format YYYY-MM-DDThh:mm:ss. Time zone should be UTC and not local.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "updatedAt",
                        "description": "The time the measurement record was last changed in the format YYYY-MM-DDThh:mm:ss. Time zone should be UTC and not local.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "endTime",
                        "description": "The upper limit of measurements returned (Epoch)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "groupingWidth",
                        "description": "The time (in seconds) over which measurements are grouped together",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "groupingTimezone",
                        "description": "The time (in seconds) over which measurements are grouped together",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Now suppose you wanted to show results 11-20. You'd set the offset to 10 and the limit to 10.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "name": "sort",
                        "description": "Sort by given field. If the field is prefixed with `-, it will sort in descending order.",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "$ref": "#/definitions/Measurement"
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "measurements"
                ],
                "summary": "Post a new set or update existing measurements to the database",
                "description": "You can submit or update multiple measurements in a \"measurements\" sub-array.  If the variable these measurements correspond to does not already exist in the database, it will be automatically added.  The request body should look something like [{\"measurements\":[{\"startTime\":1439389320,\"value\":\"3\"}, {\"startTime\":1439389319,\"value\":\"2\"}],\"name\":\"Acne (out of 5)\",\"source\":\"QuantiModo\",\"category\":\"Symptoms\",\"combinationOperation\":\"MEAN\",\"unit\":\"/5\"}]",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "access_token",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "An array of measurements you want to insert.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MeasurementSet"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Measurements successfully stored"
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "writemeasurements"
                        ]
                    }
                ]
            }
        },
        "/v1/measurements/delete": {
            "post": {
                "tags": [
                    "measurements"
                ],
                "summary": "Delete a measurement",
                "description": "Delete a previously submitted measurement",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The startTime and variableId of the measurement to be deleted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MeasurementDelete"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Operation",
                        "schema": {
                            "$ref": "#/definitions/CommonResponse"
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v1/measurements/update": {
            "post": {
                "tags": [
                    "measurements"
                ],
                "summary": "Update a measurement",
                "description": "Delete a previously submitted measurement",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The id as well as the new startTime, note, and/or value of the measurement to be updated",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MeasurementUpdate"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful Operation",
                        "schema": {
                            "$ref": "#/definitions/CommonResponse"
                        }
                    },
                    "401": {
                        "description": "Not Authenticated"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v2/measurements/{id}": {
            "get": {
                "tags": [
                    "measurements"
                ],
                "summary": "Get Measurement",
                "description": "Get Measurement",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of Measurement",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "$ref": "#/definitions/Measurement"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "quantimodo_oauth2": [
                            "basic"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "measurements"
                ],
                "summary": "Update Measurement",
                "description": "Update Measurement",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of Measurement",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Measurement that should be updated",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/Measurement"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "quantimodo_oauth2": [
                            "basic"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "measurements"
                ],
                "summary": "Delete Measurement",
                "description": "Delete Measurement",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id of Measurement",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "quantimodo_oauth2": [
                            "basic"
                        ]
                    }
                ]
            }
        },
        "/v2/application/connections": {
            "get": {
                "tags": [
                    "application endpoints"
                ],
                "summary": "Get all Connections",
                "description": "Get all Connections",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Application's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "connector_id",
                        "in": "query",
                        "description": "The id for the connector data source for which the connection is connected",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "connect_status",
                        "in": "query",
                        "description": "Indicates whether a connector is currently connected to a service for a user.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "connect_error",
                        "in": "query",
                        "description": "Error message if there is a problem with authorizing this connection.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "update_requested_at",
                        "in": "query",
                        "description": "Time at which an update was requested by a user.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "update_status",
                        "in": "query",
                        "description": "Indicates whether a connector is currently updated.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "update_error",
                        "in": "query",
                        "description": "Indicates if there was an error during the update.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "last_successful_updated_at",
                        "in": "query",
                        "description": "The time at which the connector was last successfully updated.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "created_at",
                        "in": "query",
                        "description": "When the record was first created. Use ISO 8601 datetime format ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "updated_at",
                        "in": "query",
                        "description": "When the record was last updated. Use ISO 8601 datetime format ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort by given field. If the field is prefixed with '-', it will sort in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Connection"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v2/application/credentials": {
            "get": {
                "tags": [
                    "application endpoints"
                ],
                "summary": "Get all Credentials",
                "description": "Get all Credentials",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Application's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "connector_id",
                        "in": "query",
                        "description": "The id for the connector data source from which the credential was obtained",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "attr_key",
                        "in": "query",
                        "description": "Attribute name such as token, userid, username, or password",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "attr_value",
                        "in": "query",
                        "description": "Encrypted value for the attribute specified",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "created_at",
                        "in": "query",
                        "description": "When the record was first created. Use ISO 8601 datetime format ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "updated_at",
                        "in": "query",
                        "description": "When the record was last updated. Use ISO 8601 datetime format ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort by given field. If the field is prefixed with '-', it will sort in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Credential"
                                    }
                                },
                                "success": {
                                    "type": "boolean"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v2/application/measurements": {
            "get": {
                "tags": [
                    "application endpoints"
                ],
                "summary": "Get measurements for all users using your application",
                "description": "Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "Application's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "The ID of the client application which originally stored the measurement",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "connector_id",
                        "in": "query",
                        "description": "The id for the connector data source from which the measurement was obtained",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "variable_id",
                        "in": "query",
                        "description": "ID of the variable for which we are creating the measurement records",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "source_id",
                        "in": "query",
                        "description": "Application or device used to record the measurement values",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "start time for the measurement event. Use ISO 8601 datetime format ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "query",
                        "description": "The value of the measurement after conversion to the default unit for that variable",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "unit_id",
                        "in": "query",
                        "description": "The default unit id for the variable",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "original_value",
                        "in": "query",
                        "description": "Unconverted value of measurement as originally posted (before conversion to default unit)",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "original_unit_id",
                        "in": "query",
                        "description": "Unit id of the measurement as originally submitted",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "duration",
                        "in": "query",
                        "description": "The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable’s value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "note",
                        "in": "query",
                        "description": "An optional note the user may include with their measurement",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "description": "Latitude at which the measurement was taken",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "description": "Longitude at which the measurement was taken",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "description": "Optional human readable name for the location where the measurement was recorded",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "created_at",
                        "in": "query",
                        "description": "When the record was first created. Use ISO 8601 datetime format ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "updated_at",
                        "in": "query",
                        "description": "When the record was last updated. Use ISO 8601 datetime format ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "error",
                        "in": "query",
                        "description": "An error message if there is a problem with the measurement",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort by given field. If the field is prefixed with '-', it will sort in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Measurement"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v2/application/trackingReminders": {
            "get": {
                "tags": [
                    "application endpoints"
                ],
                "summary": "Get tracking reminders",
                "description": "Get the variable id, frequency, and default value for the user tracking reminders ",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "User's OAuth2 access token",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "user_id",
                        "description": "User's id",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "The ID of the client application which last created or updated this trackingReminder",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "created_at",
                        "in": "query",
                        "description": "When the record was first created. Use ISO 8601 datetime format ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "updated_at",
                        "in": "query",
                        "description": "When the record was last updated. Use ISO 8601 datetime format ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause. If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort by given field. If the field is prefixed with '-', it will sort in descending order.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "properties": {
                                "success": {
                                    "type": "boolean"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
[...]
