{
  "swagger": "2.0",
  "info": {
    "description": "QuantiModo makes it easy to retrieve normalized user data from a wide array of devices and applications. [Learn about QuantiModo](https://quantimo.do), check out our [docs](https://github.com/QuantiModo/docs) or contact us at [help.quantimo.do](https://help.quantimo.do).",
    "version": "5.8.728",
    "title": "quantimodo",
    "termsOfService": "https://quantimo.do/tos/",
    "contact": {
      "name": "info@quantimo.do"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "basePath": "/api",
  "host": "app.quantimo.do",
  "tags": [
    {
      "name": "measurements",
      "description": "Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten.",
      "externalDocs": {
        "description": "See it in action",
        "url": "https://app.quantimo.do/ionic/Modo/www/#/app/history-all-category/Anything"
      }
    },
    {
      "name": "reminders",
      "description": "Users can be reminded to track certain variables at a specified frequency with a default value.",
      "externalDocs": {
        "description": "See it in action",
        "url": "https://app.quantimo.do/ionic/Modo/www/#/app/reminders-inbox"
      }
    },
    {
      "name": "connectors",
      "description": "Import data from third-party apps and devices like Fitbit and Mint.",
      "externalDocs": {
        "description": "Import your data now",
        "url": "https://app.quantimo.do/ionic/Modo/www/#/app/import"
      }
    }
  ],
  "parameters": {
    "effectVariableNameParam": {
      "in": "query",
      "name": "effectVariableName",
      "description": "Variable name of the hypothetical effect variable.  Example: Overall Mood",
      "required": false,
      "type": "string"
    },
    "causeVariableNameParam": {
      "in": "query",
      "name": "causeVariableName",
      "description": "Variable name of the hypothetical cause variable.  Example: Sleep Duration",
      "required": false,
      "type": "string"
    },
    "connectorNamePathParam": {
      "in": "path",
      "name": "connectorName",
      "description": "Lowercase system name of the source application or device. Get a list of available connectors from the /v3/connectors/list endpoint.",
      "required": true,
      "type": "string"
    },
    "variableCategoryNameParam": {
      "in": "query",
      "name": "variableCategoryName",
      "description": "Limit results to a specific variable category",
      "required": false,
      "type": "string"
    },
    "sortParam": {
      "in": "query",
      "name": "sort",
      "description": "Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.",
      "required": false,
      "type": "string"
    },
    "userIdParam": {
      "in": "query",
      "name": "userId",
      "description": "User's id",
      "required": false,
      "type": "number"
    },
    "latestMeasurementTimeParam": {
      "in": "query",
      "name": "latestMeasurementTime",
      "description": "Excluded records with measurement times later than this value. Use UTC ISO 8601 \"YYYY-MM-DDThh:mm:ss\"  datetime format. Time zone should be UTC and not local.",
      "required": false,
      "type": "string"
    },
    "earliestMeasurementTimeParam": {
      "in": "query",
      "name": "earliestMeasurementTime",
      "description": "Excluded records with measurement times earlier than this value. Use UTC ISO 8601 \"YYYY-MM-DDThh:mm:ss\"  datetime format. Time zone should be UTC and not local.",
      "required": false,
      "type": "string"
    },
    "createdAtParam": {
      "in": "query",
      "name": "createdAt",
      "description": "When the record was first created. Use UTC ISO 8601 \"YYYY-MM-DDThh:mm:ss\"  datetime format. Time zone should be UTC and not local.",
      "required": false,
      "type": "string"
    },
    "updatedAtParam": {
      "in": "query",
      "name": "updatedAt",
      "description": "When the record was last updated. Use UTC ISO 8601 \"YYYY-MM-DDThh:mm:ss\"  datetime format. Time zone should be UTC and not local.",
      "required": false,
      "type": "string"
    },
    "offsetParam": {
      "in": "query",
      "name": "offset",
      "required": false,
      "type": "integer",
      "minimum": 0,
      "description": "OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned."
    },
    "limitParam": {
      "in": "query",
      "name": "limit",
      "required": false,
      "type": "integer",
      "minimum": 1,
      "maximum": 200,
      "default": 100,
      "description": "The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records."
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v3/integration.js": {
      "get": {
        "operationId": "getIntegrationJs",
        "tags": [
          "connectors"
        ],
        "summary": "Get embeddable connect javascript",
        "description": "Get embeddable connect javascript. Usage:\n  - Embedding in applications with popups for 3rd-party authentication\nwindows.\n    Use `qmSetupInPopup` function after connecting `connect.js`.\n  - Embedding in applications with popups for 3rd-party authentication\nwindows.\n    Requires a selector to block. It will be embedded in this block.\n    Use `qmSetupOnPage` function after connecting `connect.js`.\n  - Embedding in mobile applications without popups for 3rd-party\nauthentication.\n    Use `qmSetupOnMobile` function after connecting `connect.js`.\n    If using in a Cordova application call  `qmSetupOnIonic` function after connecting `connect.js`.",
        "produces": [
          "application/x-javascript"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "clientId",
            "description": "Your app's client id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Embeddable connect javascript was returned"
          }
        }
      }
    },
    "/v3/connect/mobile": {
      "get": {
        "operationId": "getMobileConnectPage",
        "tags": [
          "connectors"
        ],
        "summary": "Mobile connect page",
        "description": "This page is designed to be opened in a webview.  Instead of using popup authentication boxes, it uses redirection. You can include the user's access_token as a URL parameter like https://app.quantimo.do/api/v3/connect/mobile?access_token=123",
        "produces": [
          "text/html"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Mobile connect page was returned"
          },
          "401": {
            "description": "User token is missing"
          },
          "403": {
            "description": "User token is incorrect"
          }
        }
      }
    },
    "/v3/connectors/list": {
      "get": {
        "operationId": "getConnectorsList",
        "tags": [
          "connectors"
        ],
        "summary": "List of Connectors",
        "description": "A connector pulls data from other data providers using their API or a screenscraper. Returns a list of all available connectors and information about them such as their id, name, whether the user has provided access, logo url, connection instructions, and the update history.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Connector"
              }
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/connectors/{connectorName}/connect": {
      "get": {
        "operationId": "connectConnector",
        "tags": [
          "connectors"
        ],
        "summary": "Obtain a token from 3rd party data source",
        "description": "Attempt to obtain a token from the data provider, store it in the database. With this, the connector to continue to obtain new user data until the token is revoked.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/connectorNamePathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Method not found. Could not execute the requested method."
          },
          "500": {
            "description": "Error during update. Unsupported response from update()."
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/connectors/{connectorName}/connectParameter": {
      "get": {
        "operationId": "connectConnectorWithParameters",
        "tags": [
          "connectors"
        ],
        "summary": "Connect Parameter",
        "description": "Returns instructions that describe what parameters and endpoint to use to connect to the given data provider.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/connectorNamePathParam"
          },
          {
            "in": "query",
            "name": "defaultValue",
            "description": "Default parameter value",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "displayName",
            "description": "Name of the parameter that is user visible in the form",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "key",
            "description": "Name of the property that the user has to enter such as username or password Connector (used in HTTP request)",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "placeholder",
            "description": "Placeholder hint value for the parameter input tag.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Type of input field such as those found here http://www.w3schools.com/tags/tag_input.asp",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "usePopup",
            "description": "Should use popup when enabling connector",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ConnectorInstruction"
            }
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Method not found. Could not execute the requested method."
          },
          "500": {
            "description": "Error during update. Unsupported response from update()."
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/connectors/{connectorName}/disconnect": {
      "get": {
        "operationId": "disconnectConnector",
        "tags": [
          "connectors"
        ],
        "summary": "Delete stored connection info",
        "description": "The disconnect method deletes any stored tokens or connection information from the connectors database.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/connectorNamePathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Method not found. Could not execute the requested method."
          },
          "500": {
            "description": "Error during update. Unsupported response from update()."
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/connectors/{connectorName}/update": {
      "get": {
        "operationId": "updateConnector",
        "tags": [
          "connectors"
        ],
        "summary": "Sync with data source",
        "description": "The update method tells the QM Connector Framework to check with the data provider (such as Fitbit or MyFitnessPal) and retrieve any new measurements available.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/connectorNamePathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Connection Successful"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Method not found. Could not execute the requested method."
          },
          "500": {
            "description": "Error during update. Unsupported response from update()."
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v4/correlations": {
      "get": {
        "operationId": "getCorrelations",
        "tags": [
          "analytics"
        ],
        "summary": "Get correlations",
        "description": "Get correlations based on data from a single user.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/effectVariableNameParam"
          },
          {
            "$ref": "#/parameters/causeVariableNameParam"
          },
          {
            "in": "query",
            "name": "correlationCoefficient",
            "description": "Pearson correlation coefficient between cause and effect after lagging by onset delay and grouping by duration of action",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "onsetDelay",
            "description": "The amount of time in seconds that elapses after the predictor/stimulus event before the outcome as perceived by a self-tracker is known as the “onset delay”. For example, the “onset delay” between the time a person takes an aspirin (predictor/stimulus event) and the time a person perceives a change in their headache severity (outcome) is approximately 30 minutes.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "durationOfAction",
            "description": "The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable’s value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          },
          {
            "in": "query",
            "name": "outcomesOfInterest",
            "description": "Only include correlations for which the effect is an outcome of interest for the user",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Correlation"
              }
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/correlations/explanations": {
      "get": {
        "operationId": "getUserCorrelationExplantions",
        "tags": [
          "analytics"
        ],
        "summary": "Get correlation explanations",
        "description": "Get explanations of  correlations based on data from a single user.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/effectVariableNameParam"
          },
          {
            "$ref": "#/parameters/causeVariableNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Correlation"
              }
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/aggregatedCorrelations": {
      "get": {
        "operationId": "getAggregatedCorrelations",
        "tags": [
          "analytics"
        ],
        "summary": "Get aggregated correlations",
        "description": "Get correlations based on the anonymized aggregate data from all QuantiModo users.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/effectVariableNameParam"
          },
          {
            "$ref": "#/parameters/causeVariableNameParam"
          },
          {
            "in": "query",
            "name": "correlationCoefficient",
            "description": "Pearson correlation coefficient between cause and effect after lagging by onset delay and grouping by duration of action",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "onsetDelay",
            "description": "The amount of time in seconds that elapses after the predictor/stimulus event before the outcome as perceived by a self-tracker is known as the “onset delay”. For example, the “onset delay” between the time a person takes an aspirin (predictor/stimulus event) and the time a person perceives a change in their headache severity (outcome) is approximately 30 minutes.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "durationOfAction",
            "description": "The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable’s value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          },
          {
            "in": "query",
            "name": "outcomesOfInterest",
            "description": "Only include correlations for which the effect is an outcome of interest for the user",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Correlations"
              }
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "operationId": "postAggregatedCorrelations",
        "tags": [
          "analytics"
        ],
        "summary": "Store or Update a Correlation",
        "description": "Add correlation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Provides correlation data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostCorrelation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/JsonErrorResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/measurements": {
      "get": {
        "operationId": "getMeasurements",
        "tags": [
          "measurements"
        ],
        "summary": "Get measurements for this user",
        "description": "Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten. Supported filter parameters:<ul><li><b>value</b> - Value of measurement</li><li><b>updatedAt</b> - The time that this measurement was created or last updated in the UTC format \"YYYY-MM-DDThh:mm:ss\"</li></ul>",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "query",
            "name": "id",
            "description": "Measurement id",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "variableName",
            "description": "Name of the variable you want measurements for",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "in": "query",
            "name": "sourceName",
            "description": "ID of the source you want measurements for (supports exact name match only)",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "value",
            "description": "Value of measurement",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "unitAbbreviatedName",
            "description": "The unit you want the measurements returned in",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/earliestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/latestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/createdAtParam"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "in": "query",
            "name": "groupingWidth",
            "description": "The time (in seconds) over which measurements are grouped together",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "groupingTimezone",
            "description": "The time (in seconds) over which measurements are grouped together",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/Measurements"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "readmeasurements"
            ]
          }
        ]
      },
      "post": {
        "operationId": "postMeasurements",
        "tags": [
          "measurements"
        ],
        "summary": "Post a new set or update existing measurements to the database",
        "description": "You can submit or update multiple measurements in a \"measurements\" sub-array.  If the variable these measurements correspond to does not already exist in the database, it will be automatically added.  The request body should look something like [{\"measurements\":[{\"startTime\":1439389320,\"value\":\"3\"}, {\"startTime\":1439389319,\"value\":\"2\"}],\"name\":\"Acne (out of 5)\",\"source\":\"QuantiModo\",\"category\":\"Symptoms\",\"combinationOperation\":\"MEAN\",\"unit\":\"/5\"}]",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "An array of measurement sets containing measurement items you want to insert.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MeasurementSet"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Measurements successfully stored"
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "writemeasurements"
            ]
          }
        ]
      }
    },
    "/v3/measurements/delete": {
      "delete": {
        "operationId": "deleteMeasurement",
        "tags": [
          "measurements"
        ],
        "summary": "Delete a measurement",
        "description": "Delete a previously submitted measurement",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The startTime and variableId of the measurement to be deleted.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeasurementDelete"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "writemeasurements"
            ]
          }
        ]
      }
    },
    "/v3/measurements/update": {
      "put": {
        "tags": [
          "measurements"
        ],
        "summary": "Update a measurement",
        "description": "Delete a previously submitted measurement",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The id as well as the new startTime, note, and/or value of the measurement to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeasurementUpdate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v2/measurements/exportRequest": {
      "post": {
        "operationId": "measurementExportRequest",
        "tags": [
          "measurements"
        ],
        "summary": "Post Request for Measurements CSV",
        "description": "Use this endpoint to schedule a CSV export containing all user measurements to be emailed to the user within 24 hours.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "integer"
            }
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v2/oauth/authorize": {
      "get": {
        "operationId": "getOauthAuthorizationCode",
        "tags": [
          "authentication"
        ],
        "summary": "Request Authorization Code",
        "description": "You can implement OAuth2 authentication to your application using our **OAuth2** endpoints.  You need to redirect users to `/api/v2/oauth/authorize` endpoint to get an authorization code and include the parameters below.   This page will ask the user if they want to allow a client's application to submit or obtain data from their QM account. It will redirect the user to the url provided by the client application with the code as a query parameter or error in case of an error. See the /api/v2/oauth/access_token endpoint for the next steps.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "clientId",
            "description": "This is the unique ID that QuantiModo uses to identify your application. Obtain a client id by creating a free application at [https://app.quantimo.do/api/v2/apps](https://app.quantimo.do/api/v2/apps).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "client_secret",
            "description": "This is the secret for your obtained clientId. QuantiModo uses this to validate that only your application uses the clientId.  Obtain this by creating a free application at [https://app.quantimo.do/api/v2/apps](https://app.quantimo.do/api/v2/apps).",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "response_type",
            "description": "If the value is code, launches a Basic flow, requiring a POST to the token endpoint to obtain the tokens. If the value is token id_token or id_token token, launches an Implicit flow, requiring the use of Javascript at the redirect URI to retrieve tokens from the URI #fragment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scope",
            "description": "Scopes include basic, readmeasurements, and writemeasurements. The \"basic\" scope allows you to read user info (displayname, email, etc). The \"readmeasurements\" scope allows one to read a user's data. The \"writemeasurements\" scope allows you to write user data. Separate multiple scopes by a space.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "redirect_uri",
            "description": "The redirect URI is the URL within your client application that will receive the OAuth2 credentials.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "state",
            "description": "An opaque string that is round-tripped in the protocol; that is to say, it is returned as a URI parameter in the Basic flow, and in the URI",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v2/oauth2/access_token": {
      "get": {
        "operationId": "getAccessToken",
        "tags": [
          "authentication"
        ],
        "summary": "Get a user access token",
        "description": "Client provides authorization token obtained from /api/v3/oauth2/authorize to this endpoint and receives an access token. Access token can then be used to query different API endpoints of QuantiModo. ### Request Access Token After user approves your access to the given scope form the https:/app.quantimo.do/v2/oauth2/authorize endpoint, you'll receive an authorization code to request an access token. This time make a `POST` request to `/api/v2/oauth/access_token` with parameters including: * `grant_type` Can be `authorization_code` or `refresh_token` since we are getting the `access_token` for the first time we don't have a `refresh_token` so this must be `authorization_code`. * `code` Authorization code you received with the previous request. * `redirect_uri` Your application's redirect url. ### Refreshing Access Token Access tokens expire at some point, to continue using our api you need to refresh them with `refresh_token` you received along with the `access_token`. To do this make a `POST` request to `/api/v2/oauth/access_token` with correct parameters, which are: * `grant_type` This time grant type must be `refresh_token` since we have it. * `clientId` Your application's client id. * `client_secret` Your application's client secret. * `refresh_token` The refresh token you received with the `access_token`. Every request you make to this endpoint will give you a new refresh token and make the old one expired. So you can keep getting new access tokens with new refresh tokens. ### Using Access Token Currently we support 2 ways for this, you can't use both at the same time. * Adding access token to the request header as `Authorization: Bearer {access_token}` * Adding to the url as a query parameter `?access_token={access_token}` You can read more about OAuth2 from [here](http://oauth.net/2/)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "clientId",
            "description": "This is the unique ID that QuantiModo uses to identify your application. Obtain a client id by emailing info@quantimo.do.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "client_secret",
            "description": "This is the secret for your obtained clientId. QuantiModo uses this to validate that only your application uses the clientId.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "grant_type",
            "description": "Grant Type can be 'authorization_code' or 'refresh_token'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "code",
            "description": "Authorization code you received with the previous request.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "response_type",
            "description": "If the value is code, launches a Basic flow, requiring a POST to the token endpoint to obtain the tokens. If the value is token id_token or id_token token, launches an Implicit flow, requiring the use of Javascript at the redirect URI to retrieve tokens from the URI #fragment.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "scope",
            "description": "Scopes include basic, readmeasurements, and writemeasurements. The \"basic\" scope allows you to read user info (displayname, email, etc). The \"readmeasurements\" scope allows one to read a user's data. The \"writemeasurements\" scope allows you to write user data. Separate multiple scopes by a space.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "redirect_uri",
            "description": "The redirect URI is the URL within your client application that will receive the OAuth2 credentials.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "state",
            "description": "An opaque string that is round-tripped in the protocol; that is to say, it is returned as a URI parameter in the Basic flow, and in the URI",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v2/auth/social/login": {
      "get": {
        "operationId": "getSocialLoginPage",
        "tags": [
          "authentication"
        ],
        "summary": "First Setp in Social Authentication flow with JWT Token",
        "description": " Here is the flow for how social authentication works with a JWT Token\n1.**Client:** The client needs to open popup with social auth url (`https://app/quantimo.do/api/v2/auth/social/login?provider={provider}&redirectUrl={url}`) of server with `provider` and `redirectUrl`. (Url should be registered with our social apps. Facebook and Twitter are fine with any redirect url with the same domain base url but Google needs exact redirect url.) 2.**Server:** The QM server will redirect user to that provider to get access. 3.**Client:** After successful or failed authentication, it will be redirected to given `redirectUrl` with code or error. 4.**Client:** The client needs to get that code and needs to send an Ajax request to server at `https://app.quantimo.do/api/v2/auth/social/authorizeCode?provider={provider}&code={authorizationCode}` 5.**Server:** The QM server will authorize that code from the social connection and will authenticate user and will retrieve user info. 6.**Server:** The QM server will try to find existing user by unique identity. If the user already exists then it will login. Otherwise, it will create new user and will then login. 7.**Server:** Once user is found/created, it will return a JWT token for that user in the response.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "redirectUrl",
            "description": "The redirect URI is the URL within your client application that will receive the OAuth2 credentials. Url should be registered with our social apps. Facebook and Twitter are fine with any redirect url with the same domain base url but Google needs exact redirect url.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "provider",
            "description": "The current options are `google` and `facebook`.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v2/auth/social/authorizeCode": {
      "get": {
        "operationId": "getSocialAuthorizationCode",
        "tags": [
          "authentication"
        ],
        "summary": "Second Step in Social Authentication flow with JWT Token",
        "description": " Here is the flow for how social authentication works with a JWT Token\n1.**Client:** The client needs to open popup with social auth url (`https://app/quantimo.do/api/v2/auth/social/login?provider={provider}&redirectUrl={url}`) of server with `provider` and `redirectUrl`. (Url should be registered with our social apps. Facebook is fine with any redirect url with the same domain base url but Google needs exact redirect url.) 2.**Server:** The QM server will redirect user to that provider to get access. 3.**Client:** After successful or failed authentication, it will be redirected to given `redirectUrl` with code or error. 4.**Client:** The client needs to get that code and needs to send an Ajax request to server at `https://app.quantimo.do/api/v2/auth/social/authorizeCode?provider={provider}&code={authorizationCode}` 5.**Server:** The QM server will authorize that code from the social connection and will authenticate user and will retrieve user info. 6.**Server:** The QM server will try to find existing user by unique identity. If the user already exists then it will login. Otherwise, it will create new user and will then login. 7.**Server:** Once user is found/created, it will return a JWT token for that user in the response.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "description": "Authorization code obtained from the provider.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "provider",
            "description": "The current options are `google` and `facebook`.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v2/auth/social/authorizeToken": {
      "get": {
        "operationId": "getSocialAuthorizationToken",
        "tags": [
          "authentication"
        ],
        "summary": "Native Social Authentication",
        "description": "If you are using native authentication via Facebook or Google SDKs then you should use the following flow. 1.**Client:** Using native authentication via your native mobile app, get an access token using the instructions provided by the Facebook SDK (https://developers.facebook.com/docs/facebook-login) or Google (https://developers.google.com/identity/protocols/OAuth2) 2.**Client:** Send an Ajax request with provider name and access token on `https://app.quantimo.do/api/v2/auth/social/authorizeToken?provider={provider}&accessToken={accessToken}&refreshToken={refreshToken}` (`refreshToken` is optional) 3.**Server:** Server will try to get user info and will find existing user by unique identity. If user exist then it will do a login for that or it will create new user and will do login 4.**Server:** Once user is found/created, it will return a JWT token for that user in response 5.**Client:** After getting the JWT token to get a QM access token follow these steps and include your JWT token in them as a header (Authorization: Bearer **{yourJWThere}**) or as a url parameter (https://app.quantimo.do/api/v2/oauth/authorize?token={yourJWThere}).",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "refreshToken",
            "description": "Optional refresh token obtained from Google or FB native SDK",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "accessToken",
            "description": "User's OAuth2 access token obtained from Google or FB native SDK",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "provider",
            "description": "The current options are `google` and `facebook`.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/pairs": {
      "get": {
        "operationId": "getPairs",
        "tags": [
          "measurements"
        ],
        "summary": "Get pairs of measurements for correlational analysis",
        "description": "Pairs cause measurements with effect measurements grouped over the duration of action after the onset delay.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/effectVariableNameParam"
          },
          {
            "$ref": "#/parameters/causeVariableNameParam"
          },
          {
            "in": "query",
            "name": "causeUnitName",
            "description": "Name for the unit cause measurements to be returned in",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "delay",
            "description": "The amount of time in seconds that elapses after the predictor/stimulus event before the outcome as perceived by a self-tracker is known as the “onset delay”. For example, the “onset delay” between the time a person takes an aspirin (predictor/stimulus event) and the time a person perceives a change in their headache severity (outcome) is approximately 30 minutes.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "duration",
            "description": "The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable’s value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "effectUnitName",
            "description": "Name for the unit effect measurements to be returned in",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/earliestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/latestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Pairs"
              }
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/trackingReminders": {
      "get": {
        "operationId": "getTrackingReminders",
        "tags": [
          "reminders"
        ],
        "summary": "Get repeating tracking reminder settings",
        "description": "Users can be reminded to track certain variables at a specified frequency with a default value.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "$ref": "#/parameters/createdAtParam"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TrackingReminders"
                  }
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "operationId": "postTrackingReminders",
        "tags": [
          "reminders"
        ],
        "summary": "Store a Tracking Reminder",
        "description": "This is to enable users to create reminders to track a variable with a default value at a specified frequency",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "name": "body",
            "in": "body",
            "description": "TrackingReminder that should be stored",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TrackingReminder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "$ref": "#/definitions/TrackingReminder"
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/trackingReminders/delete": {
      "delete": {
        "operationId": "deleteTrackingReminder",
        "tags": [
          "reminders"
        ],
        "summary": "Delete tracking reminder",
        "description": "Delete previously created tracking reminder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Id of reminder to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrackingReminderDelete"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/trackingReminderNotifications": {
      "get": {
        "operationId": "getTrackingReminderNotifications",
        "tags": [
          "reminders"
        ],
        "summary": "Get specific pending tracking reminders",
        "description": "Specfic pending reminder instances that still need to be tracked.  ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "$ref": "#/parameters/createdAtParam"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TrackingReminderNotifications"
                  }
                }
              },
              "type": "object"
            }
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "operationId": "postTrackingReminderNotifications",
        "tags": [
          "reminders"
        ],
        "summary": "Snooze, skip, or track a pending tracking reminder notification",
        "description": "Snooze, skip, or track a pending tracking reminder notification",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Id of the pending reminder to be snoozed",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TrackingReminderNotificationPost"
              },
              "description": "Array of TrackingReminderNotifications to take action on"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/units": {
      "get": {
        "operationId": "getUnits",
        "tags": [
          "units"
        ],
        "summary": "Get units",
        "description": "Get a list of the available measurement units",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Units"
              },
              "description": "Array of units"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/unitCategories": {
      "get": {
        "operationId": "getUnitCategories",
        "tags": [
          "units"
        ],
        "summary": "Get unit categories",
        "description": "Get a list of the categories of measurement units such as 'Distance', 'Duration', 'Energy', 'Frequency', 'Miscellany', 'Pressure', 'Proportion', 'Rating', 'Temperature', 'Volume', and 'Weight'.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/UnitCategories"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/user": {
      "get": {
        "operationId": "getUser",
        "tags": [
          "user"
        ],
        "summary": "Get user info",
        "description": "Returns user info.  If no userId is specified, returns info for currently authenticated user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/createdAtParam"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/userTags": {
      "post": {
        "operationId": "postUserTags",
        "tags": [
          "variables"
        ],
        "summary": "Post or update user tags or ingredients",
        "description": "This endpoint allows users to tag foods with their ingredients.  This information will then be used to infer the user intake of the different ingredients by just entering the foods. The inferred intake levels will then be used to determine the effects of different nutrients on the user during analysis.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Contains the new user tag data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserTag"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/userTags/delete": {
      "delete": {
        "operationId": "deleteUserTag",
        "tags": [
          "variables"
        ],
        "summary": "Delete user tag or ingredient",
        "description": "Delete previously created user tags or ingredients.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "taggedVariableId",
            "description": "This is the id of the variable being tagged with an ingredient or something.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "tagVariableId",
            "description": "This is the id of the ingredient variable whose value is determined based on the value of the tagged variable.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/userVariables": {
      "post": {
        "operationId": "postUserVariables",
        "tags": [
          "variables"
        ],
        "summary": "Update User Settings for a Variable",
        "description": "Users can change the parameters used in analysis of that variable such as the expected duration of action for a variable to have an effect, the estimated delay before the onset of action. In order to filter out erroneous data, they are able to set the maximum and minimum reasonable daily values for a variable.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "userVariables",
            "description": "Variable user settings data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserVariables"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "The received JSON was invalid or malformed"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Unknown target user ID"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      },
      "get": {
        "operationId": "getUserVariables",
        "tags": [
          "variables"
        ],
        "summary": "Get variables with user's settings",
        "description": "Get variables for which the user has measurements. If the user has specified variable settings, these are provided instead of the common variable defaults.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "query",
            "name": "id",
            "description": "Common variable id",
            "required": false,
            "type": "integer"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Original name of the variable (supports exact name match only)",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "in": "query",
            "name": "source",
            "description": "The name of the data source that created the variable (supports exact name match only). So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/earliestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/latestMeasurementTimeParam"
          },
          {
            "in": "query",
            "name": "numberOfRawMeasurements",
            "description": "Filter variables by the total number of measurements that they have. This could be used of you want to filter or sort by popularity.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "lastSource",
            "description": "Limit variables to those which measurements were last submitted by a specific source. So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here. (supports exact name match only)",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Variables returned",
            "schema": {
              "$ref": "#/definitions/UserVariables"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/public/variables": {
      "get": {
        "operationId": "getPublicVariables",
        "tags": [
          "variables"
        ],
        "summary": "Get public variables",
        "description": "This endpoint retrieves an array of all public variables. Public variables are things like foods, medications, symptoms, conditions, and anything not unique to a particular user. For instance, a telephone number or name would not be a public variable.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "query",
            "name": "id",
            "description": "Common variable id",
            "required": false,
            "type": "integer"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Original name of the variable (supports exact name match only)",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "in": "query",
            "name": "source",
            "description": "The name of the data source that created the variable (supports exact name match only). So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/earliestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/latestMeasurementTimeParam"
          },
          {
            "in": "query",
            "name": "numberOfRawMeasurements",
            "description": "Filter variables by the total number of measurements that they have. This could be used of you want to filter or sort by popularity.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "lastSource",
            "description": "Limit variables to those which measurements were last submitted by a specific source. So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here. (supports exact name match only)",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Variables"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/userVariables/delete": {
      "delete": {
        "operationId": "deleteUserVariable",
        "tags": [
          "variables"
        ],
        "summary": "Delete All Measurements For Variable",
        "description": "Users can delete all of their measurements for a variable",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "variableId",
            "description": "Id of the variable whose measurements should be deleted",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserVariableDelete"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "The received JSON was invalid or malformed"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Unknown target user ID"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/userVariables/reset": {
      "post": {
        "operationId": "resetUserVariableSettings",
        "tags": [
          "variables"
        ],
        "summary": "Reset user settings for a variable to defaults",
        "description": "Reset user settings for a variable to defaults",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "variableId",
            "description": "Id of the variable that should be reset",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserVariableDelete"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation"
          },
          "400": {
            "description": "The received JSON was invalid or malformed"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Unknown target user ID"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/variableCategories": {
      "get": {
        "operationId": "getVariableCategories",
        "tags": [
          "variables"
        ],
        "summary": "Variable categories",
        "description": "The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VariableCategory"
              }
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/votes": {
      "post": {
        "operationId": "postVote",
        "tags": [
          "analytics"
        ],
        "summary": "Post or update vote",
        "description": "This is to enable users to indicate their opinion on the plausibility of a causal relationship between a treatment and outcome. QuantiModo incorporates crowd-sourced plausibility estimations into their algorithm. This is done allowing user to indicate their view of the plausibility of each relationship with thumbs up/down buttons placed next to each prediction.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Contains the cause variable, effect variable, and vote value.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Vote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/votes/delete": {
      "delete": {
        "operationId": "deleteVote",
        "tags": [
          "analytics"
        ],
        "summary": "Delete vote",
        "description": "Delete previously posted vote",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The cause and effect variable names for the predictor vote to be deleted.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VoteDelete"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "CommonResponse": {
      "type": "object",
      "required": [
        "status",
        "success"
      ],
      "properties": {
        "status": {
          "type": "integer",
          "description": "Status code"
        },
        "message": {
          "type": "string",
          "description": "Message"
        },
        "success": {
          "type": "boolean"
        }
      }
    },
    "ConnectorInstruction": {
      "properties": {
        "url": {
          "type": "string",
          "description": "url"
        },
        "parameters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "parameters array"
        },
        "usePopup": {
          "type": "boolean",
          "description": "usePopup"
        }
      }
    },
    "Connector": {
      "required": [
        "id",
        "name",
        "displayName",
        "image",
        "getItUrl",
        "connected",
        "connectInstructions",
        "lastUpdate",
        "totalMeasurementsInLastUpdate"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "Connector ID number"
        },
        "name": {
          "type": "string",
          "description": "Connector lowercase system name"
        },
        "displayName": {
          "type": "string",
          "description": "Connector pretty display name"
        },
        "image": {
          "type": "string",
          "description": "URL to the image of the connector logo"
        },
        "getItUrl": {
          "type": "string",
          "description": "URL to a site where one can get this device or application"
        },
        "connected": {
          "type": "string",
          "description": "True if the authenticated user has this connector enabled"
        },
        "connectInstructions": {
          "type": "string",
          "description": "URL and parameters used when connecting to a service"
        },
        "lastUpdate": {
          "type": "integer",
          "description": "Epoch timestamp of last sync"
        },
        "totalMeasurementsInLastUpdate": {
          "type": "integer",
          "description": "Number of measurements obtained during latest update"
        }
      }
    },
    "Connectors": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Connector"
      },
      "description": "Array"
    },
    "ConversionStep": {
      "required": [
        "operation",
        "value"
      ],
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "MULTIPLY",
            "ADD"
          ],
          "description": "ADD or MULTIPLY"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "This specifies the order of conversion steps starting with 0"
        }
      }
    },
    "Correlation": {
      "required": [
        "correlationCoefficient",
        "cause",
        "effect",
        "onsetDelay",
        "durationOfAction",
        "numberOfPairs",
        "timestamp"
      ],
      "properties": {
        "averageDailyLowCause": {
          "type": "number",
          "description": ""
        },
        "averageDailyHighCause": {
          "type": "number",
          "description": ""
        },
        "averageEffect": {
          "type": "number",
          "description": ""
        },
        "averageEffectFollowingHighCause": {
          "type": "number",
          "description": ""
        },
        "averageEffectFollowingLowCause": {
          "type": "number",
          "description": ""
        },
        "averageEffectFollowingHighCauseExplanation": {
          "type": "string",
          "description": ""
        },
        "averageEffectFollowingLowCauseExplanation": {
          "type": "string",
          "description": ""
        },
        "averageVote": {
          "type": "number",
          "description": "Average Vote"
        },
        "causalityFactor": {
          "type": "number",
          "description": ""
        },
        "cause": {
          "type": "string",
          "description": "Variable name of the cause variable for which the user desires correlations."
        },
        "causeVariableCategoryName": {
          "type": "string",
          "description": "Variable category of the cause variable."
        },
        "causeChanges": {
          "type": "integer",
          "description": "Number of changes in the predictor variable (a.k.a the number of experiments)"
        },
        "causeVariableCombinationOperation": {
          "type": "string",
          "description": "The way cause measurements are aggregated"
        },
        "causeVariableImageUrl": {
          "type": "string",
          "description": ""
        },
        "causeVariableIonIcon": {
          "type": "string",
          "description": "For use in Ionic apps"
        },
        "causeUnit": {
          "type": "string",
          "description": "Unit of the predictor variable"
        },
        "causeVariableDefaultUnitId": {
          "type": "integer",
          "description": "Unit Id of the predictor variable"
        },
        "causeVariableId": {
          "type": "integer",
          "description": ""
        },
        "causeVariableName": {
          "type": "string",
          "description": "Variable name of the cause variable for which the user desires correlations."
        },
        "correlationCoefficient": {
          "type": "number",
          "description": "Pearson correlation coefficient between cause and effect measurements"
        },
        "createdAt": {
          "description": "When the record was first created. Use UTC ISO 8601 \"YYYY-MM-DDThh:mm:ss\"  datetime format",
          "type": "string",
          "format": "date-time"
        },
        "dataAnalysis": {
          "type": "string",
          "description": "How the data was analyzed"
        },
        "dataSources": {
          "type": "string",
          "description": "How the data was obtained"
        },
        "durationOfAction": {
          "type": "number",
          "description": "The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable’s value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay."
        },
        "effect": {
          "type": "string",
          "description": "Variable name of the effect variable for which the user desires correlations."
        },
        "effectVariableCategoryName": {
          "type": "string",
          "description": "Variable category of the effect variable."
        },
        "effectVariableImageUrl": {
          "type": "string",
          "description": ""
        },
        "effectVariableIonIcon": {
          "type": "string",
          "description": "For use in Ionic apps"
        },
        "effectSize": {
          "type": "string",
          "description": "Magnitude of the effects of a cause indicating whether it's practically meaningful."
        },
        "effectVariableId": {
          "type": "string",
          "description": "Magnitude of the effects of a cause indicating whether it's practically meaningful."
        },
        "effectVariableName": {
          "type": "string",
          "description": "Variable name of the effect variable for which the user desires correlations."
        },
        "gaugeImage": {
          "type": "string",
          "description": "Illustrates the strength of the relationship"
        },
        "imageUrl": {
          "type": "string",
          "description": "Large image for Facebook"
        },
        "numberOfPairs": {
          "type": "number",
          "description": "Number of points that went into the correlation calculation"
        },
        "onsetDelay": {
          "type": "number",
          "format": "double",
          "description": "The amount of time in seconds that elapses after the predictor/stimulus event before the outcome as perceived by a self-tracker is known as the “onset delay”. For example, the “onset delay” between the time a person takes an aspirin (predictor/stimulus event) and the time a person perceives a change in their headache severity (outcome) is approximately 30 minutes."
        },
        "optimalPearsonProduct": {
          "type": "number",
          "description": "Optimal Pearson Product"
        },
        "outcomeDataSources": {
          "type": "string",
          "description": "original name of the cause."
        },
        "predictorExplanation": {
          "type": "string",
          "description": "HIGHER Remeron predicts HIGHER Overall Mood"
        },
        "principalInvestigator": {
          "type": "string",
          "description": "Mike Sinn"
        },
        "qmScore": {
          "type": "number",
          "description": "Value representing the significance of the relationship as a function of crowdsourced insights, predictive strength, data quantity, and data quality"
        },
        "reverseCorrelation": {
          "type": "number",
          "description": "Correlation when cause and effect are reversed. For any causal relationship, the forward correlation should exceed the reverse correlation."
        },
        "significanceExplanation": {
          "type": "string",
          "description": "Using a two-tailed t-test with alpha = 0.05, it was determined that the change..."
        },
        "statisticalSignificance": {
          "type": "string",
          "description": "A function of the effect size and sample size"
        },
        "strengthLevel": {
          "type": "string",
          "description": "weak, moderate, strong"
        },
        "studyAbstract": {
          "type": "string",
          "description": "These data suggest with a high degree of confidence..."
        },
        "studyBackground": {
          "type": "string",
          "description": "In order to reduce suffering through the advancement of human knowledge..."
        },
        "studyDesign": {
          "type": "string",
          "description": "This study is based on data donated by one QuantiModo user..."
        },
        "studyLimitations": {
          "type": "string",
          "description": "As with any human experiment, it was impossible to control for all potentially confounding variables..."
        },
        "studyLinkDynamic": {
          "type": "string",
          "description": "Url for the interactive study within the web app"
        },
        "studyLinkFacebook": {
          "type": "string",
          "description": "Url for sharing the study on Facebook"
        },
        "studyLinkGoogle": {
          "type": "string",
          "description": "Url for sharing the study on Google+"
        },
        "studyLinkTwitter": {
          "type": "string",
          "description": "Url for sharing the study on Twitter"
        },
        "studyLinkStatic": {
          "type": "string",
          "description": "Url for sharing the statically rendered study on social media"
        },
        "studyObjective": {
          "type": "string",
          "description": "The objective of this study is to determine..."
        },
        "studyResults": {
          "type": "string",
          "description": "This analysis suggests that..."
        },
        "studyTitle": {
          "type": "string",
          "description": "N1 Study HIGHER Remeron predicts HIGHER Overall Mood"
        },
        "timestamp": {
          "type": "number",
          "description": "Time at which correlation was calculated"
        },
        "updatedAt": {
          "description": "When the record in the database was last updated. Use UTC ISO 8601 \"YYYY-MM-DDThh:mm:ss\"  datetime format. Time zone should be UTC and not local.",
          "type": "string",
          "format": "date-time"
        },
        "userVote": {
          "type": "number",
          "description": "User Vote"
        },
        "valuePredictingHighOutcome": {
          "type": "number",
          "description": "cause value that predicts an above average effect value (in default unit for cause variable)"
        },
        "valuePredictingHighOutcomeExplanation": {
          "type": "string",
          "description": "Overall Mood, on average, 34% HIGHER after around 3.98mg Remeron"
        },
        "valuePredictingLowOutcome": {
          "type": "number",
          "description": "cause value that predicts a below average effect value (in default unit for cause variable)"
        },
        "valuePredictingLowOutcomeExplanation": {
          "type": "string",
          "description": "Overall Mood, on average, 4% LOWER after around 0mg Remeron"
        }
      }
    },
    "Correlations": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Correlation"
      },
      "description": "Array"
    },
    "JsonErrorResponse": {
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "Status: \"ok\" or \"error\""
        },
        "message": {
          "type": "string",
          "description": "Error message"
        }
      }
    },
    "MeasurementSet": {
      "required": [
        "measurementItems",
        "variableName",
        "sourceName",
        "unitAbbreviatedName"
      ],
      "properties": {
        "measurementItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MeasurementItem"
          },
          "description": "Array of timestamps, values, and optional notes"
        },
        "variableName": {
          "type": "string",
          "description": "ORIGINAL name of the variable for which we are creating the measurement records"
        },
        "sourceName": {
          "type": "string",
          "description": "Name of the application or device used to record the measurement values"
        },
        "variableCategoryName": {
          "type": "string",
          "description": "Variable category name"
        },
        "combinationOperation": {
          "type": "string",
          "enum": [
            "MEAN",
            "SUM"
          ],
          "description": "Way to aggregate measurements over time. Options are \"MEAN\" or \"SUM\". SUM should be used for things like minutes of exercise.  If you use MEAN for exercise, then a person might exercise more minutes in one day but add separate measurements that were smaller.  So when we are doing correlational analysis, we would think that the person exercised less that day even though they exercised more.  Conversely, we must use MEAN for things such as ratings which cannot be SUMMED."
        },
        "unitAbbreviatedName": {
          "type": "string",
          "description": "Unit of measurement"
        }
      }
    },
    "Measurement": {
      "required": [
        "variableName",
        "sourceName",
        "startTimeString",
        "value",
        "unitAbbreviatedName"
      ],
      "properties": {
        "variableName": {
          "type": "string",
          "description": "Name of the variable for which we are creating the measurement records"
        },
        "sourceName": {
          "type": "string",
          "description": "Application or device used to record the measurement values"
        },
        "startTimeString": {
          "type": "string",
          "description": "Start Time for the measurement event in UTC ISO 8601 \"YYYY-MM-DDThh:mm:ss\""
        },
        "startTimeEpoch": {
          "type": "integer",
          "description": "Seconds between the start of the event measured and 1970 (Unix timestamp)"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Converted measurement value in requested unit"
        },
        "originalValue": {
          "type": "integer",
          "description": "Original value as originally submitted"
        },
        "originalunitAbbreviatedName": {
          "type": "string",
          "description": "Original Unit of measurement as originally submitted"
        },
        "unitAbbreviatedName": {
          "type": "string",
          "description": "Abbreviated name for the unit of measurement"
        },
        "note": {
          "type": "string",
          "description": "Note of measurement"
        }
      }
    },
    "Measurements": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Measurement"
      },
      "description": "Array of mesaurements"
    },
    "MeasurementDelete": {
      "required": [
        "variableId",
        "startTime"
      ],
      "properties": {
        "variableId": {
          "type": "integer",
          "description": "Variable id of the measurement to be deleted"
        },
        "startTime": {
          "type": "integer",
          "description": "Start time of the measurement to be deleted"
        }
      }
    },
    "MeasurementUpdate": {
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "Variable id of the measurement to be updated"
        },
        "startTime": {
          "type": "integer",
          "description": "The new timestamp for the the event in epoch seconds (optional)"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The new value of for the measurement (optional)"
        },
        "note": {
          "type": "string",
          "description": "The new note for the measurement (optional)"
        }
      }
    },
    "Pairs": {
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Category name"
        }
      }
    },
    "PostCorrelation": {
      "required": [
        "causeVariableName",
        "effectVariableName",
        "correlation"
      ],
      "properties": {
        "causeVariableName": {
          "type": "string",
          "description": "Cause variable name"
        },
        "effectVariableName": {
          "type": "string",
          "description": "Effect variable name"
        },
        "correlation": {
          "type": "number",
          "format": "double",
          "description": "Correlation value"
        },
        "vote": {
          "type": "integer",
          "description": "Vote: 0 or 1"
        }
      }
    },
    "UserVariableDelete": {
      "required": [
        "variableId"
      ],
      "properties": {
        "variableId": {
          "type": "integer",
          "description": "Id of the variable whose measurements should be deleted"
        }
      }
    },
    "TrackingReminderDelete": {
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "Id of the TrackingReminder to be deleted"
        }
      }
    },
    "TrackingReminderNotificationPost": {
      "required": [
        "id",
        "action"
      ],
      "properties": {
        "id": {
          "type": "number",
          "description": "Id of the TrackingReminderNotification"
        },
        "modifiedValue": {
          "type": "number",
          "description": "Optional value to be recorded instead of the tracking reminder default value"
        },
        "action": {
          "type": "string",
          "description": "track records a measurement for the notification.  snooze changes the notification to 1 hour from now. skip deletes the notification.",
          "enum": [
            "track",
            "snooze",
            "skip"
          ]
        }
      }
    },
    "TrackingReminder": {
      "required": [
        "variableId",
        "reminderFrequency",
        "defaultValue"
      ],
      "properties": {
        "id": {
          "description": "id",
          "type": "integer",
          "format": "int32"
        },
        "clientId": {
          "description": "clientId",
          "type": "string"
        },
        "userId": {
          "description": "ID of User",
          "type": "integer",
          "format": "int32"
        },
        "variableId": {
          "description": "Id for the variable to be tracked",
          "type": "integer",
          "format": "int32"
        },
        "defaultValue": {
          "description": "Default value to use for the measurement when tracking",
          "type": "number",
          "format": "float"
        },
        "reminderStartTime": {
          "description": "Earliest time of day at which reminders should appear in UTC HH:MM:SS format",
          "type": "string"
        },
        "reminderEndTime": {
          "description": "Latest time of day at which reminders should appear in UTC HH:MM:SS format",
          "type": "string"
        },
        "reminderSound": {
          "description": "String identifier for the sound to accompany the reminder",
          "type": "string"
        },
        "reminderFrequency": {
          "description": "Number of seconds between one reminder and the next",
          "type": "integer",
          "format": "int32"
        },
        "popUp": {
          "description": "True if the reminders should appear as a popup notification",
          "type": "boolean"
        },
        "sms": {
[...]
