{
  "swagger": "2.0",
  "info": {
    "description": "QuantiModo makes it easy to retrieve normalized user data from a wide array of devices and applications. [Learn about QuantiModo](https://quantimo.do), check out our [docs](https://github.com/QuantiModo/docs) or contact us at [help.quantimo.do](https://help.quantimo.do).",
    "version": "5.8.728",
    "title": "quantimodo",
    "termsOfService": "https://quantimo.do/tos/",
    "contact": {
      "name": "info@quantimo.do"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "basePath": "/api",
  "host": "app.quantimo.do",
  "tags": [
    {
      "name": "analytics",
      "description": "Identify the strongest predictors of a given outcome and generate studies",
      "externalDocs": {
        "description": "Try it out",
        "url": "https://app.quantimo.do/ionic/Modo/www/index.html#/app/predictor-search"
      }
    },
    {
      "name": "connectors",
      "description": "Import data from third-party apps and devices like Fitbit and Mint.",
      "externalDocs": {
        "description": "Import your data now",
        "url": "https://app.quantimo.do/ionic/Modo/www/#/app/import"
      }
    },
    {
      "name": "measurements",
      "description": "Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten.",
      "externalDocs": {
        "description": "See it in action",
        "url": "https://app.quantimo.do/ionic/Modo/www/#/app/history-all-category/Anything?accessToken=demo"
      }
    },
    {
      "name": "reminders",
      "description": "Users can be reminded to track certain variables at a specified frequency with a default value.",
      "externalDocs": {
        "description": "See it in action",
        "url": "https://app.quantimo.do/ionic/Modo/www/#/app/reminders-inbox?accessToken=demo"
      }
    },
    {
      "name": "units",
      "description": "Available units for measurements",
      "externalDocs": {
        "description": "See it in action",
        "url": "https://app.quantimo.do/ionic/Modo/www/#/app/measurement-search?accessToken=demo"
      }
    },
    {
      "name": "user",
      "description": "Get or update user info and settings",
      "externalDocs": {
        "description": "See it in action",
        "url": "https://app.quantimo.do/ionic/Modo/www/#/app/settings?accessToken=demo"
      }
    },
    {
      "name": "variables",
      "description": "Can be used for search autocomplete for data types like symptoms, foods and treatments and include statistics",
      "externalDocs": {
        "description": "Search for a variable",
        "url": "https://app.quantimo.do/ionic/Modo/www/#/app/reminder-search?accessToken=demo"
      }
    }
  ],
  "parameters": {
    "effectVariableNameParam": {
      "in": "query",
      "name": "effectVariableName",
      "description": "Variable name of the hypothetical effect variable.  Example: Overall Mood",
      "required": false,
      "type": "string"
    },
    "causeVariableNameParam": {
      "in": "query",
      "name": "causeVariableName",
      "description": "Variable name of the hypothetical cause variable.  Example: Sleep Duration",
      "required": false,
      "type": "string"
    },
    "connectorNamePathParam": {
      "in": "path",
      "name": "connectorName",
      "description": "Lowercase system name of the source application or device. Get a list of available connectors from the /v3/connectors/list endpoint.",
      "required": true,
      "type": "string",
      "enum": [
        "myfitnesspal",
        "runkeeper",
        "whatpulse",
        "github",
        "moodscope",
        "up",
        "fitbit",
        "facebook",
        "withings",
        "moodpanda",
        "rescuetime",
        "mynetdiary",
        "worldweatheronline",
        "sleepcloud",
        "slice",
        "googlecalendar",
        "googlefit",
        "medhelper",
        "mint",
        "slack",
        "netatmo"
      ]
    },
    "variableCategoryNameParam": {
      "in": "query",
      "name": "variableCategoryName",
      "description": "Limit results to a specific variable category",
      "required": false,
      "type": "string",
      "enum": [
        "Emotions",
        "Physique",
        "Physical Activity",
        "Location",
        "Miscellaneous",
        "Sleep",
        "Social Interactions",
        "Vital Signs",
        "Cognitive Performance",
        "Symptoms",
        "Nutrients",
        "Work",
        "Treatments",
        "Activity",
        "Foods",
        "Conditions",
        "Environment",
        "Causes of Illness",
        "Books",
        "Software",
        "Payments",
        "Movies and TV",
        "Music"
      ]
    },
    "sortParam": {
      "in": "query",
      "name": "sort",
      "description": "Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.",
      "required": false,
      "type": "string"
    },
    "userIdParam": {
      "in": "query",
      "name": "userId",
      "description": "User's id",
      "required": false,
      "type": "number"
    },
    "latestMeasurementTimeParam": {
      "in": "query",
      "name": "latestMeasurementTime",
      "description": "Excluded records with measurement times later than this value. Use UTC ISO 8601 `YYYY-MM-DDThh:mm:ss`  datetime format. Time zone should be UTC and not local.",
      "required": false,
      "type": "string"
    },
    "earliestMeasurementTimeParam": {
      "in": "query",
      "name": "earliestMeasurementTime",
      "description": "Excluded records with measurement times earlier than this value. Use UTC ISO 8601 `YYYY-MM-DDThh:mm:ss`  datetime format. Time zone should be UTC and not local.",
      "required": false,
      "type": "string"
    },
    "createdAtParam": {
      "in": "query",
      "name": "createdAt",
      "description": "When the record was first created. Use UTC ISO 8601 `YYYY-MM-DDThh:mm:ss` datetime format. Time zone should be UTC and not local.",
      "required": false,
      "type": "string"
    },
    "updatedAtParam": {
      "in": "query",
      "name": "updatedAt",
      "description": "When the record was last updated. Use UTC ISO 8601 `YYYY-MM-DDThh:mm:ss` datetime format. Time zone should be UTC and not local.",
      "required": false,
      "type": "string"
    },
    "offsetParam": {
      "in": "query",
      "name": "offset",
      "required": false,
      "type": "integer",
      "minimum": 0,
      "description": "OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned."
    },
    "limitParam": {
      "in": "query",
      "name": "limit",
      "required": false,
      "type": "integer",
      "default": 100,
      "description": "The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records."
    },
    "clientIdParam": {
      "name": "clientId",
      "required": false,
      "description": "Example: oauth_test_client",
      "in": "query",
      "type": "string"
    },
    "appNameParam": {
      "name": "appName",
      "required": false,
      "description": "Example: MoodiModo",
      "in": "query",
      "type": "string"
    },
    "appVersionParam": {
      "name": "appVersion",
      "required": false,
      "description": "Example: 2.1.1.0",
      "in": "query",
      "type": "string"
    },
    "reminderFrequencyParam": {
      "name": "reminderFrequency",
      "required": false,
      "description": "How often user should be reminded in seconds. Example: 86400",
      "in": "query",
      "type": "string"
    },
    "unitNameParam": {
      "name": "unitName",
      "required": false,
      "description": "Example: 86400",
      "in": "query",
      "type": "string",
      "enum": [
        "% Recommended Daily Allowance",
        "-4 to 4 Rating",
        "0 to 1 Rating",
        "0 to 5 Rating",
        "1 to 10 Rating",
        "1 to 5 Rating",
        "Applications",
        "Beats per Minute",
        "Calories",
        "Capsules",
        "Centimeters",
        "Count",
        "Degrees Celsius",
        "Degrees East",
        "Degrees Fahrenheit",
        "Degrees North",
        "Dollars",
        "Drops",
        "Event",
        "Feet",
        "Grams",
        "Hours",
        "Inches",
        "Index",
        "Kilocalories",
        "Kilograms",
        "Kilometers",
        "Liters",
        "Meters",
        "Micrograms",
        "Micrograms per decilitre",
        "Miles",
        "Milligrams",
        "Milliliters",
        "Millimeters",
        "Millimeters Merc",
        "Milliseconds",
        "Minutes",
        "Pascal",
        "per Minute",
        "Percent",
        "Pieces",
        "Pills",
        "Pounds",
        "Puffs",
        "Seconds",
        "Serving",
        "Sprays",
        "Tablets",
        "Torr",
        "Units",
        "Yes/No"
      ]
    },
    "correlationCoefficientParam": {
      "in": "query",
      "name": "correlationCoefficient",
      "description": "Pearson correlation coefficient between cause and effect after lagging by onset delay and grouping by duration of action",
      "required": false,
      "type": "string"
    },
    "onsetDelayParam": {
      "in": "query",
      "name": "onsetDelay",
      "description": "The amount of time in seconds that elapses after the predictor/stimulus event before the outcome as perceived by a self-tracker is known as the onset delay. For example, the onset delay between the time a person takes an aspirin (predictor/stimulus event) and the time a person perceives a change in their headache severity (outcome) is approximately 30 minutes.",
      "required": false,
      "type": "string"
    },
    "durationOfActionParam": {
      "in": "query",
      "name": "durationOfAction",
      "description": "The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay.",
      "required": false,
      "type": "string"
    },
    "outcomesOfInterestParam": {
      "in": "query",
      "name": "outcomesOfInterest",
      "description": "Only include correlations for which the effect is an outcome of interest for the user",
      "required": false,
      "type": "boolean"
    },
    "variableNameParam": {
      "in": "query",
      "name": "variableName",
      "description": "Name of the variable you want measurements for",
      "required": false,
      "type": "string"
    },
    "sourceNameParam": {
      "in": "query",
      "name": "sourceName",
      "description": "ID of the source you want measurements for (supports exact name match only)",
      "required": false,
      "type": "string"
    },
    "valueParam": {
      "in": "query",
      "name": "value",
      "description": "Value of measurement",
      "required": false,
      "type": "string"
    },
    "groupingWidthParam": {
      "in": "query",
      "name": "groupingWidth",
      "description": "The time (in seconds) over which measurements are grouped together",
      "required": false,
      "type": "integer"
    },
    "groupingTimezoneParam": {
      "in": "query",
      "name": "groupingTimezone",
      "description": "The time (in seconds) over which measurements are grouped together",
      "required": false,
      "type": "string"
    },
    "clientSecretParam": {
      "in": "query",
      "name": "client_secret",
      "description": "This is the secret for your obtained clientId. QuantiModo uses this to validate that only your application uses the clientId.  Obtain this by creating a free application at [https://app.quantimo.do/api/v2/apps](https://app.quantimo.do/api/v2/apps).",
      "required": true,
      "type": "string"
    },
    "responseTypeParam": {
      "in": "query",
      "name": "response_type",
      "description": "If the value is code, launches a Basic flow, requiring a POST to the token endpoint to obtain the tokens. If the value is token id_token or id_token token, launches an Implicit flow, requiring the use of Javascript at the redirect URI to retrieve tokens from the URI #fragment.",
      "required": true,
      "type": "string"
    },
    "scopeParam": {
      "in": "query",
      "name": "scope",
      "description": "Scopes include basic, readmeasurements, and writemeasurements. The `basic` scope allows you to read user info (displayName, email, etc). The `readmeasurements` scope allows one to read a user's data. The `writemeasurements` scope allows you to write user data. Separate multiple scopes by a space.",
      "required": true,
      "type": "string"
    },
    "redirectUriParam": {
      "in": "query",
      "name": "redirect_uri",
      "description": "The redirect URI is the URL within your client application that will receive the OAuth2 credentials.",
      "required": false,
      "type": "string"
    },
    "stateParam": {
      "in": "query",
      "name": "state",
      "description": "An opaque string that is round-tripped in the protocol; that is to say, it is returned as a URI parameter in the Basic flow, and in the URI",
      "required": false,
      "type": "string"
    },
    "grantTypeParam": {
      "in": "query",
      "name": "grant_type",
      "description": "Grant Type can be 'authorization_code' or 'refresh_token'",
      "required": true,
      "type": "string"
    },
    "codeParam": {
      "in": "query",
      "name": "code",
      "description": "Authorization code you received with the previous request.",
      "required": true,
      "type": "string"
    },
    "causeUnitNameParam": {
      "in": "query",
      "name": "causeUnitName",
      "description": "Name for the unit cause measurements to be returned in",
      "required": false,
      "type": "string"
    },
    "effectUnitNameParam": {
      "in": "query",
      "name": "effectUnitName",
      "description": "Name for the unit effect measurements to be returned in",
      "required": false,
      "type": "string"
    },
    "taggedVariableIdParam": {
      "in": "query",
      "name": "taggedVariableId",
      "description": "This is the id of the variable being tagged with an ingredient or something.",
      "required": true,
      "type": "integer"
    },
    "tagVariableIdParam": {
      "in": "query",
      "name": "tagVariableId",
      "description": "This is the id of the ingredient variable whose value is determined based on the value of the tagged variable.",
      "required": true,
      "type": "integer"
    },
    "userVariablesParam": {
      "in": "body",
      "name": "userVariables",
      "description": "Variable user settings data",
      "required": true,
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/UserVariable"
        }
      }
    },
    "numberOfRawMeasurementsParam": {
      "in": "query",
      "name": "numberOfRawMeasurements",
      "description": "Filter variables by the total number of measurements that they have. This could be used of you want to filter or sort by popularity.",
      "required": false,
      "type": "string"
    },
    "lastSourceParam": {
      "in": "query",
      "name": "lastSourceName",
      "description": "Limit variables to those which measurements were last submitted by a specific source. So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here",
      "required": false,
      "type": "string"
    },
    "variableIdBodyParam": {
      "in": "body",
      "name": "variableId",
      "description": "Id of the variable whose measurements should be deleted",
      "required": true,
      "schema": {
        "$ref": "#/definitions/UserVariableDelete"
      }
    },
    "reminderTimeParam": {
      "name": "reminderTime",
      "required": false,
      "description": "Example: (lt)2017-07-31 21:43:26",
      "in": "query",
      "type": "string"
    },
    "doNotProcessParam": {
      "name": "doNotProcess",
      "required": false,
      "description": "Example: true",
      "in": "query",
      "type": "boolean"
    },
    "includePublicParam": {
      "name": "includePublic",
      "required": false,
      "description": "Example: true",
      "in": "query",
      "type": "boolean"
    },
    "fallbackToAggregatedCorrelationsParam": {
      "name": "fallbackToAggregatedCorrelations",
      "required": false,
      "description": "Example: true",
      "in": "query",
      "type": "boolean"
    },
    "numberOfUserCorrelationsAsCauseParam": {
      "name": "numberOfUserCorrelationsAsCause",
      "required": false,
      "description": "Example: (gt)1",
      "in": "query",
      "type": "string"
    },
    "numberOfUserCorrelationsAsEffectParam": {
      "name": "numberOfUserCorrelationsAsEffect",
      "required": false,
      "description": "Example: (gt)1",
      "in": "query",
      "type": "string"
    },
    "outcomeParam": {
      "name": "outcome",
      "required": false,
      "description": "Example: true",
      "in": "query",
      "type": "boolean"
    },
    "includeChartsParam": {
      "name": "includeCharts",
      "required": false,
      "description": "Example: true",
      "in": "query",
      "type": "boolean"
    },
    "includeTagsParam": {
      "name": "includeTags",
      "required": false,
      "description": "Example: true",
      "in": "query",
      "type": "boolean"
    },
    "fallbackToAggregateCorrelationsParam": {
      "name": "fallbackToAggregateCorrelations",
      "required": false,
      "description": "Example: true",
      "in": "query",
      "type": "boolean"
    },
    "fallbackToStudyForCauseAndEffectParam": {
      "name": "fallbackToStudyForCauseAndEffect",
      "required": false,
      "description": "Example: 1",
      "in": "query",
      "type": "boolean"
    },
    "reminderStartTimeParam": {
      "name": "reminderStartTime",
      "required": false,
      "description": "Example: 20:00:00",
      "in": "query",
      "type": "string"
    },
    "startTrackingDateParam": {
      "name": "startTrackingDate",
      "required": false,
      "description": "Example: 2017-08-07",
      "in": "query",
      "type": "string"
    },
    "stopTrackingDateParam": {
      "name": "stopTrackingDate",
      "required": false,
      "description": "Example: 2117-08-07",
      "in": "query",
      "type": "string"
    },
    "variableCategoryIdParam": {
      "name": "variableCategoryId",
      "required": false,
      "description": "Example: 13",
      "in": "query",
      "type": "integer"
    },
    "includeDeletedParam": {
      "name": "includeDeleted",
      "required": false,
      "description": "Example: ",
      "in": "query",
      "type": "boolean"
    },
    "unitAbbreviatedNameParam": {
      "name": "unitAbbreviatedName",
      "required": false,
      "description": "Example: /5",
      "in": "query",
      "type": "string"
    },
    "doNotCreateNewCommonVariablesParam": {
      "name": "doNotCreateNewCommonVariables",
      "required": false,
      "description": "Example: ",
      "in": "query",
      "type": "boolean"
    },
    "unitIdParam": {
      "name": "unitId",
      "required": false,
      "description": "Example: 10",
      "in": "query",
      "type": "integer"
    },
    "minimumReminderTimeUtcStringParam": {
      "name": "minimumReminderTimeUtcString",
      "required": false,
      "description": "Example: 2017-08-06T23:20:11+00:00",
      "in": "query",
      "type": "string"
    },
    "maximumReminderTimeUtcStringParam": {
      "name": "maximumReminderTimeUtcString",
      "required": false,
      "description": "Example: 2017-08-08T23:20:11+00:00",
      "in": "query",
      "type": "string"
    },
    "effectOrCauseParam": {
      "name": "effectOrCause",
      "required": false,
      "description": "Example: ",
      "in": "query",
      "type": "string"
    },
    "publicEffectOrCauseParam": {
      "name": "publicEffectOrCause",
      "required": false,
      "description": "Example: ",
      "in": "query",
      "type": "string"
    },
    "exactMatchParam": {
      "name": "exactMatch",
      "required": false,
      "description": "Example: ",
      "in": "query",
      "type": "boolean"
    },
    "manualTrackingParam": {
      "name": "manualTracking",
      "required": false,
      "description": "Example: ",
      "in": "query",
      "type": "boolean"
    },
    "includePrivateParam": {
      "name": "includePrivate",
      "required": false,
      "description": "Example: ",
      "in": "query",
      "type": "boolean"
    },
    "searchPhraseParam": {
      "name": "searchPhrase",
      "required": false,
      "description": "Example: %Body Fat%",
      "in": "query",
      "type": "string"
    },
    "synonymsParam": {
      "name": "synonyms",
      "required": false,
      "description": "Example: %McDonalds hotcake%",
      "in": "query",
      "type": "string"
    },
    "numberOfAggregatedCorrelationsAsEffectParam": {
      "name": "numberOfAggregatedCorrelationsAsEffect",
      "required": false,
      "description": "Example: (gt)1",
      "in": "query",
      "type": "string"
    },
    "onlyPastParam": {
      "name": "onlyPast",
      "required": false,
      "description": "Example: 1",
      "in": "query",
      "type": "boolean"
    },
    "doNotConvertParam": {
      "name": "doNotConvert",
      "required": false,
      "description": "Example: 1",
      "in": "query",
      "type": "boolean"
    },
    "minMaxFilterParam": {
      "name": "minMaxFilter",
      "required": false,
      "description": "Example: 1",
      "in": "query",
      "type": "boolean"
    },
    "clientUserIdParam": {
      "name": "clientUserId",
      "required": false,
      "description": "Example: 74802",
      "in": "query",
      "type": "integer"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v3/integration.js": {
      "get": {
        "operationId": "getIntegrationJs",
        "tags": [
          "connectors"
        ],
        "summary": "Get embeddable connect javascript",
        "description": "Get embeddable connect javascript. Usage:\n  - Embedding in applications with popups for 3rd-party authentication\nwindows.\n    Use `qmSetupInPopup` function after connecting `connect.js`.\n  - Embedding in applications with popups for 3rd-party authentication\nwindows.\n    Requires a selector to block. It will be embedded in this block.\n    Use `qmSetupOnPage` function after connecting `connect.js`.\n  - Embedding in mobile applications without popups for 3rd-party\nauthentication.\n    Use `qmSetupOnMobile` function after connecting `connect.js`.\n    If using in a Cordova application call  `qmSetupOnIonic` function after connecting `connect.js`.",
        "produces": [
          "application/x-javascript"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/clientIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Embeddable connect javascript was returned"
          }
        }
      }
    },
    "/v3/connect/mobile": {
      "get": {
        "operationId": "getMobileConnectPage",
        "tags": [
          "connectors"
        ],
        "summary": "Mobile connect page",
        "description": "This page is designed to be opened in a webview.  Instead of using popup authentication boxes, it uses redirection. You can include the user's access_token as a URL parameter like https://app.quantimo.do/api/v3/connect/mobile?access_token=123",
        "produces": [
          "text/html"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Mobile connect page was returned"
          },
          "401": {
            "description": "User token is missing"
          },
          "403": {
            "description": "User token is incorrect"
          }
        }
      }
    },
    "/v3/connectors/list": {
      "get": {
        "operationId": "getConnectors",
        "tags": [
          "connectors"
        ],
        "summary": "List of Connectors",
        "description": "A connector pulls data from other data providers using their API or a screenscraper. Returns a list of all available connectors and information about them such as their id, name, whether the user has provided access, logo url, connection instructions, and the update history.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/GetConnectorsResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          }
        ]
      }
    },
    "/v3/connectors/{connectorName}/connect": {
      "get": {
        "operationId": "connectConnector",
        "tags": [
          "connectors"
        ],
        "summary": "Obtain a token from 3rd party data source",
        "description": "Attempt to obtain a token from the data provider, store it in the database. With this, the connector to continue to obtain new user data until the token is revoked.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/connectorNamePathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Method not found. Could not execute the requested method."
          },
          "500": {
            "description": "Error during update. Unsupported response from update()."
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/connectors/{connectorName}/disconnect": {
      "get": {
        "operationId": "disconnectConnector",
        "tags": [
          "connectors"
        ],
        "summary": "Delete stored connection info",
        "description": "The disconnect method deletes any stored tokens or connection information from the connectors database.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/connectorNamePathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Method not found. Could not execute the requested method."
          },
          "500": {
            "description": "Error during update. Unsupported response from update()."
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/connectors/{connectorName}/update": {
      "get": {
        "operationId": "updateConnector",
        "tags": [
          "connectors"
        ],
        "summary": "Sync with data source",
        "description": "The update method tells the QM Connector Framework to check with the data provider (such as Fitbit or MyFitnessPal) and retrieve any new measurements available.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/connectorNamePathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Connection Successful"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Method not found. Could not execute the requested method."
          },
          "500": {
            "description": "Error during update. Unsupported response from update()."
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/correlations": {
      "get": {
        "operationId": "getUserCorrelations",
        "tags": [
          "analytics"
        ],
        "summary": "Get correlations",
        "description": "Get correlations based on data from a single user.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/effectVariableNameParam"
          },
          {
            "$ref": "#/parameters/causeVariableNameParam"
          },
          {
            "$ref": "#/parameters/correlationCoefficientParam"
          },
          {
            "$ref": "#/parameters/onsetDelayParam"
          },
          {
            "$ref": "#/parameters/durationOfActionParam"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          },
          {
            "$ref": "#/parameters/outcomesOfInterestParam"
          },
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/fallbackToStudyForCauseAndEffectParam"
          },
          {
            "$ref": "#/parameters/fallbackToAggregateCorrelationsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/GetCorrelationsResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/correlations/explanations": {
      "get": {
        "operationId": "getUserCorrelationExplantions",
        "tags": [
          "analytics"
        ],
        "summary": "Get correlation explanations",
        "description": "Get explanations of  correlations based on data from a single user.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/effectVariableNameParam"
          },
          {
            "$ref": "#/parameters/causeVariableNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserCorrelation"
              }
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/aggregatedCorrelations": {
      "get": {
        "operationId": "getAggregatedCorrelations",
        "tags": [
          "analytics"
        ],
        "summary": "Get aggregated correlations",
        "description": "Get correlations based on the anonymized aggregate data from all QuantiModo users.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/effectVariableNameParam"
          },
          {
            "$ref": "#/parameters/causeVariableNameParam"
          },
          {
            "$ref": "#/parameters/correlationCoefficientParam"
          },
          {
            "$ref": "#/parameters/onsetDelayParam"
          },
          {
            "$ref": "#/parameters/durationOfActionParam"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          },
          {
            "$ref": "#/parameters/outcomesOfInterestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/AggregatedCorrelationArray"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "operationId": "postAggregatedCorrelations",
        "tags": [
          "analytics"
        ],
        "summary": "Store or Update a Correlation",
        "description": "Add correlation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Provides correlation data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostCorrelation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Operation"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/JsonErrorResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/measurements": {
      "get": {
        "operationId": "getMeasurements",
        "tags": [
          "measurements"
        ],
        "summary": "Get measurements for this user",
        "description": "Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "query",
            "name": "id",
            "description": "Measurement id",
            "required": false,
            "type": "integer"
          },
          {
            "$ref": "#/parameters/variableNameParam"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "$ref": "#/parameters/sourceNameParam"
          },
          {
            "$ref": "#/parameters/valueParam"
          },
          {
            "$ref": "#/parameters/unitNameParam"
          },
          {
            "$ref": "#/parameters/earliestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/latestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/createdAtParam"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/groupingWidthParam"
          },
          {
            "$ref": "#/parameters/groupingTimezoneParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          },
          {
            "$ref": "#/parameters/doNotProcessParam"
          },
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/doNotConvertParam"
          },
          {
            "$ref": "#/parameters/minMaxFilterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MeasurementArray"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "readmeasurements"
            ]
          }
        ]
      },
      "post": {
        "operationId": "postMeasurements",
        "tags": [
          "measurements"
        ],
        "summary": "Post a new set or update existing measurements to the database",
        "description": "You can submit or update multiple measurements in a \"measurements\" sub-array.  If the variable these measurements correspond to does not already exist in the database, it will be automatically added.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "An array of measurement sets containing measurement items you want to insert.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MeasurementSet"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PostMeasurementsResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "writemeasurements"
            ]
          }
        ]
      }
    },
    "/v3/measurements/delete": {
      "delete": {
        "operationId": "deleteMeasurement",
        "tags": [
          "measurements"
        ],
        "summary": "Delete a measurement",
        "description": "Delete a previously submitted measurement",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The startTime and variableId of the measurement to be deleted.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeasurementDelete"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "writemeasurements"
            ]
          }
        ]
      }
    },
    "/v3/measurements/update": {
      "post": {
        "tags": [
          "measurements"
        ],
        "summary": "Update a measurement",
        "description": "Delete a previously submitted measurement",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The id as well as the new startTime, note, and/or value of the measurement to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeasurementUpdate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v2/measurements/exportRequest": {
      "post": {
        "operationId": "measurementExportRequest",
        "tags": [
          "measurements"
        ],
        "summary": "Post Request for Measurements CSV",
        "description": "Use this endpoint to schedule a CSV export containing all user measurements to be emailed to the user within 24 hours.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "type": "integer"
            }
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/oauth2/authorize": {
      "get": {
        "operationId": "getOauthAuthorizationCode",
        "tags": [
          "authentication"
        ],
        "summary": "Request Authorization Code",
        "description": "You can implement OAuth2 authentication to your application using our **OAuth2** endpoints.  You need to redirect users to `/api/v3/oauth2/authorize` endpoint to get an authorization code and include the parameters below.   This page will ask the user if they want to allow a client's application to submit or obtain data from their QM account. It will redirect the user to the url provided by the client application with the code as a query parameter or error in case of an error. See the /api/v2/oauth/access_token endpoint for the next steps.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/clientSecretParam"
          },
          {
            "$ref": "#/parameters/responseTypeParam"
          },
          {
            "$ref": "#/parameters/scopeParam"
          },
          {
            "$ref": "#/parameters/redirectUriParam"
          },
          {
            "$ref": "#/parameters/stateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/oauth2/token": {
      "get": {
        "operationId": "getAccessToken",
        "tags": [
          "authentication"
        ],
        "summary": "Get a user access token",
        "description": "Client provides authorization token obtained from /api/v3/oauth2/authorize to this endpoint and receives an access token. Access token can then be used to query different API endpoints of QuantiModo. ### Request Access Token After user approves your access to the given scope form the https:/app.quantimo.do/v2/oauth2/authorize endpoint, you'll receive an authorization code to request an access token. This time make a `POST` request to `/api/v2/oauth/access_token` with parameters including: * `grant_type` Can be `authorization_code` or `refresh_token` since we are getting the `access_token` for the first time we don't have a `refresh_token` so this must be `authorization_code`. * `code` Authorization code you received with the previous request. * `redirect_uri` Your application's redirect url. ### Refreshing Access Token Access tokens expire at some point, to continue using our api you need to refresh them with `refresh_token` you received along with the `access_token`. To do this make a `POST` request to `/api/v2/oauth/access_token` with correct parameters, which are: * `grant_type` This time grant type must be `refresh_token` since we have it. * `clientId` Your application's client id. * `client_secret` Your application's client secret. * `refresh_token` The refresh token you received with the `access_token`. Every request you make to this endpoint will give you a new refresh token and make the old one expired. So you can keep getting new access tokens with new refresh tokens. ### Using Access Token Currently we support 2 ways for this, you can't use both at the same time. * Adding access token to the request header as `Authorization: Bearer {access_token}` * Adding to the url as a query parameter `?access_token={access_token}` You can read more about OAuth2 from [here](http://oauth.net/2/)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/clientSecretParam"
          },
          {
            "$ref": "#/parameters/grantTypeParam"
          },
          {
            "$ref": "#/parameters/codeParam"
          },
          {
            "$ref": "#/parameters/responseTypeParam"
          },
          {
            "$ref": "#/parameters/scopeParam"
          },
          {
            "$ref": "#/parameters/redirectUriParam"
          },
          {
            "$ref": "#/parameters/stateParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation"
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/pairs": {
      "get": {
        "operationId": "getPairs",
        "tags": [
          "measurements"
        ],
        "summary": "Get pairs of measurements for correlational analysis",
        "description": "Pairs cause measurements with effect measurements grouped over the duration of action after the onset delay.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/effectVariableNameParam"
          },
          {
            "$ref": "#/parameters/causeVariableNameParam"
          },
          {
            "$ref": "#/parameters/causeUnitNameParam"
          },
          {
            "$ref": "#/parameters/onsetDelayParam"
          },
          {
            "$ref": "#/parameters/durationOfActionParam"
          },
          {
            "$ref": "#/parameters/effectUnitNameParam"
          },
          {
            "$ref": "#/parameters/earliestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/latestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PairArray"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/trackingReminders": {
      "get": {
        "operationId": "getTrackingReminders",
        "tags": [
          "reminders"
        ],
        "summary": "Get repeating tracking reminder settings",
        "description": "Users can be reminded to track certain variables at a specified frequency with a default value.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "$ref": "#/parameters/createdAtParam"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          },
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/appVersionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TrackingReminderArray"
            }
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "operationId": "postTrackingReminders",
        "tags": [
          "reminders"
        ],
        "summary": "Store a Tracking Reminder",
        "description": "This is to enable users to create reminders to track a variable with a default value at a specified frequency",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "TrackingReminder that should be stored",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrackingReminderArray"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PostTrackingRemindersResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/trackingReminders/delete": {
      "delete": {
        "operationId": "deleteTrackingReminder",
        "tags": [
          "reminders"
        ],
        "summary": "Delete tracking reminder",
        "description": "Delete previously created tracking reminder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Id of reminder to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrackingReminderDelete"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/trackingReminderNotifications": {
      "get": {
        "operationId": "getTrackingReminderNotifications",
        "tags": [
          "reminders"
        ],
        "summary": "Get specific tracking reminder notifications",
        "description": "Specific tracking reminder notification instances that still need to be tracked.  ",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "$ref": "#/parameters/createdAtParam"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          },
          {
            "$ref": "#/parameters/reminderTimeParam"
          },
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/onlyPastParam"
          },
          {
            "$ref": "#/parameters/includeDeletedParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/GetTrackingReminderNotificationsResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "operationId": "postTrackingReminderNotifications",
        "tags": [
          "reminders"
        ],
        "summary": "Snooze, skip, or track a tracking reminder notification",
        "description": "Snooze, skip, or track a tracking reminder notification",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Id of the tracking reminder notification to be snoozed",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TrackingReminderNotificationPost"
              },
              "description": "Array of TrackingReminderNotifications to take action on"
            }
          },
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/units": {
      "get": {
        "operationId": "getUnits",
        "tags": [
          "units"
        ],
        "summary": "Get units",
        "description": "Get a list of the available measurement units",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Unit"
              },
              "description": "Array of units"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/unitCategories": {
      "get": {
        "operationId": "getUnitCategories",
        "tags": [
          "units"
        ],
        "summary": "Get unit categories",
        "description": "Get a list of the categories of measurement units such as 'Distance', 'Duration', 'Energy', 'Frequency', 'Miscellany', 'Pressure', 'Proportion', 'Rating', 'Temperature', 'Volume', and 'Weight'.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UnitCategory"
              }
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/user": {
      "get": {
        "operationId": "getUser",
        "tags": [
          "user"
        ],
        "summary": "Get user info",
        "description": "Returns user info.  If no userId is specified, returns info for currently authenticated user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "$ref": "#/parameters/createdAtParam"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/appVersionParam"
          },
          {
            "$ref": "#/parameters/clientUserIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/userTags": {
      "post": {
        "operationId": "postUserTags",
        "tags": [
          "variables"
        ],
        "summary": "Post or update user tags or ingredients",
        "description": "This endpoint allows users to tag foods with their ingredients.  This information will then be used to infer the user intake of the different ingredients by just entering the foods. The inferred intake levels will then be used to determine the effects of different nutrients on the user during analysis.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Contains the new user tag data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserTag"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/userTags/delete": {
      "delete": {
        "operationId": "deleteUserTag",
        "tags": [
          "variables"
        ],
        "summary": "Delete user tag or ingredient",
        "description": "Delete previously created user tags or ingredients.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/taggedVariableIdParam"
          },
          {
            "$ref": "#/parameters/tagVariableIdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/userVariables": {
      "post": {
        "operationId": "postUserVariables",
        "tags": [
          "variables"
        ],
        "summary": "Update User Settings for a Variable",
        "description": "Users can change the parameters used in analysis of that variable such as the expected duration of action for a variable to have an effect, the estimated delay before the onset of action. In order to filter out erroneous data, they are able to set the maximum and minimum reasonable daily values for a variable.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userVariablesParam"
          },
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/includePublicParam"
          },
          {
            "$ref": "#/parameters/searchPhraseParam"
          },
          {
            "$ref": "#/parameters/includePrivateParam"
          },
          {
            "$ref": "#/parameters/exactMatchParam"
          },
          {
            "$ref": "#/parameters/manualTrackingParam"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "$ref": "#/parameters/variableCategoryIdParam"
          },
          {
            "$ref": "#/parameters/synonymsParam"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "400": {
            "description": "The received JSON was invalid or malformed"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Unknown target user ID"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      },
      "get": {
        "operationId": "getUserVariables",
        "tags": [
          "variables"
        ],
        "summary": "Get variables along with related user-specific analysis settings and statistics",
        "description": "Get variables for which the user has measurements. If the user has specified variable settings, these are provided instead of the common variable defaults.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "query",
            "name": "id",
            "description": "Common variable id",
            "required": false,
            "type": "integer"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Name of the variable. To get results matching a substring, add % as a wildcard as the first and/or last character of a query string parameter. In order to get variables that contain `Mood`, the following query should be used: ?variableName=%Mood%",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/sourceNameParam"
          },
          {
            "$ref": "#/parameters/earliestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/latestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/numberOfRawMeasurementsParam"
          },
          {
            "$ref": "#/parameters/lastSourceParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          },
          {
            "$ref": "#/parameters/includePublicParam"
          },
          {
            "$ref": "#/parameters/manualTrackingParam"
          },
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Variables returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserVariable"
              }
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/public/variables": {
      "get": {
        "operationId": "getCommonVariables",
        "tags": [
          "variables"
        ],
        "summary": "Get common variables with aggregated instead of user-specific data",
        "description": "This endpoint retrieves an array of all public variables. Public variables are things like foods, medications, symptoms, conditions, and anything not unique to a particular user. For instance, a telephone number or name would not be a public variable.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "query",
            "name": "id",
            "description": "Common variable id",
            "required": false,
            "type": "integer"
          },
          {
            "$ref": "#/parameters/variableCategoryNameParam"
          },
          {
            "in": "query",
            "name": "name",
            "description": "Name of the variable. To get results matching a substring, add % as a wildcard as the first and/or last character of a query string parameter. In order to get variables that contain `Mood`, the following query should be used: ?variableName=%Mood%",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/updatedAtParam"
          },
          {
            "$ref": "#/parameters/sourceNameParam"
          },
          {
            "$ref": "#/parameters/earliestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/latestMeasurementTimeParam"
          },
          {
            "$ref": "#/parameters/numberOfRawMeasurementsParam"
          },
          {
            "$ref": "#/parameters/lastSourceParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/sortParam"
          },
          {
            "$ref": "#/parameters/effectOrCauseParam"
          },
          {
            "$ref": "#/parameters/publicEffectOrCauseParam"
          },
          {
            "$ref": "#/parameters/exactMatchParam"
          },
          {
            "$ref": "#/parameters/manualTrackingParam"
          },
          {
            "$ref": "#/parameters/variableCategoryIdParam"
          },
          {
            "$ref": "#/parameters/includePrivateParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/searchPhraseParam"
          },
          {
            "$ref": "#/parameters/synonymsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CommonVariableArray"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/userVariables/delete": {
      "delete": {
        "operationId": "deleteUserVariable",
        "tags": [
          "variables"
        ],
        "summary": "Delete All Measurements For Variable",
        "description": "Users can delete all of their measurements for a variable",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/variableIdBodyParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "400": {
            "description": "The received JSON was invalid or malformed"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Unknown target user ID"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/userVariables/reset": {
      "post": {
        "operationId": "resetUserVariableSettings",
        "tags": [
          "variables"
        ],
        "summary": "Reset user settings for a variable to defaults",
        "description": "Reset user settings for a variable to defaults",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/variableIdBodyParam"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation"
          },
          "400": {
            "description": "The received JSON was invalid or malformed"
          },
          "401": {
            "description": "Not Authenticated"
          },
          "404": {
            "description": "Unknown target user ID"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/variableCategories": {
      "get": {
        "operationId": "getVariableCategories",
        "tags": [
          "variables"
        ],
        "summary": "Variable categories",
        "description": "The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VariableCategory"
              }
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/votes": {
      "post": {
        "operationId": "postVote",
        "tags": [
          "analytics"
        ],
        "summary": "Post or update vote",
        "description": "This is to enable users to indicate their opinion on the plausibility of a causal relationship between a treatment and outcome. QuantiModo incorporates crowd-sourced plausibility estimations into their algorithm. This is done allowing user to indicate their view of the plausibility of each relationship with thumbs up/down buttons placed next to each prediction.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Contains the cause variable, effect variable, and vote value.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Vote"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v3/votes/delete": {
      "delete": {
        "operationId": "deleteVote",
        "tags": [
          "analytics"
        ],
        "summary": "Delete vote",
        "description": "Delete previously posted vote",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userIdParam"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The cause and effect variable names for the predictor vote to be deleted.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VoteDelete"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/CommonResponse"
            }
          },
          "401": {
            "description": "Not Authenticated"
          }
        },
        "security": [
          {
            "access_token": []
          },
          {
            "quantimodo_oauth2": [
              "basic"
            ]
          }
        ]
      }
    },
    "/v4/study": {
      "get": {
        "operationId": "getStudy",
        "tags": [
          "analytics"
        ],
        "summary": "Get Study",
        "description": "Get Study",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/GetStudyResponse"
            }
          },
          "401": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/GetStudyResponse"
            }
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/causeVariableNameParam"
          },
          {
            "$ref": "#/parameters/effectVariableNameParam"
          },
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          },
          {
            "$ref": "#/parameters/includeChartsParam"
          }
        ]
      }
    },
    "/v3/userSettings": {
      "post": {
        "operationId": "postUserSettings",
        "tags": [
          "user"
        ],
        "summary": "Post UserSettings",
        "description": "Post UserSettings",
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PostUserSettingsResponse"
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/appNameParam"
          },
          {
            "$ref": "#/parameters/clientIdParam"
          }
        ]
      }
    },
    "/v3/deviceTokens": {
      "post": {
        "operationId": "postDeviceTokens",
        "tags": [
          "notifications"
        ],
        "summary": "Post DeviceTokens",
        "description": "Post DeviceTokens",
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Not authenticated"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": []
      }
    },
    "/v3/notificationPreferences": {
      "get": {
        "operationId": "getNotificationPreferences",
        "tags": [
          "notifications"
        ],
        "summary": "Get NotificationPreferences",
        "description": "Get NotificationPreferences",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Not authenticated"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": []
      }
    },
    "/v3/googleIdToken": {
      "post": {
        "operationId": "postGoogleIdToken",
        "tags": [
          "authentication"
        ],
        "summary": "Post GoogleIdToken",
        "description": "Post GoogleIdToken",
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Not authenticated"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": []
      }
    }
  },
  "definitions": {
    "CommonResponse": {
      "type": "object",
      "required": [
        "status",
        "success"
      ],
      "properties": {
        "status": {
          "type": "integer",
          "description": "Status code"
        },
        "message": {
          "type": "string",
          "description": "Message"
        },
        "success": {
          "type": "boolean"
        },
        "data": {
          "$ref": "#/definitions/GetStudyDataResponse"
        }
      }
    },
    "ConnectorInstruction": {
      "properties": {
        "url": {
          "type": "string",
          "description": "url"
        },
        "parameters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "parameters array"
        },
        "usePopup": {
          "type": "boolean",
          "description": "usePopup"
        }
      }
    },
    "Connector": {
      "required": [
        "id",
        "name",
        "displayName",
        "image",
        "getItUrl",
        "connected",
        "connectInstructions",
        "lastUpdate",
        "totalMeasurementsInLastUpdate"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "Connector ID number"
        },
        "name": {
          "type": "string",
          "description": "Connector lowercase system name"
        },
        "displayName": {
          "type": "string",
          "description": "Connector pretty display name"
        },
        "image": {
          "type": "string",
          "description": "URL to the image of the connector logo"
        },
        "getItUrl": {
          "type": "string",
          "description": "URL to a site where one can get this device or application"
        },
        "connected": {
          "type": "string",
          "description": "True if the authenticated user has this connector enabled"
        },
        "connectInstructions": {
          "type": "string",
          "description": "URL and parameters used when connecting to a service"
        },
        "lastUpdate": {
          "type": "integer",
          "description": "Epoch timestamp of last sync"
        },
        "totalMeasurementsInLastUpdate": {
          "type": "integer",
          "description": "Number of measurements obtained during latest update"
        },
        "connectStatus": {
          "description": "Example: CONNECTED",
          "type": "string"
        },
        "updateRequestedAt": {
          "description": "Example: 2017-07-18 05:16:31",
          "type": "string",
          "format": "date-time"
        },
        "shortDescription": {
          "description": "Example: Tracks social interaction. QuantiModo requires permission to access your Facebook \"user likes\" and \"user posts\".",
          "type": "string"
        },
        "message": {
          "description": "Example: Got 412 new measurements on 2017-07-31 10:10:34",
          "type": "string"
        },
        "lastSuccessfulUpdatedAt": {
          "description": "Example: 2017-07-31 10:10:34",
          "type": "string",
          "format": "date-time"
        },
        "imageHtml": {
          "description": "Example: <a href=\"http://www.facebook.com\"><img id=\"facebook_image\" title=\"Facebook\" src=\"https://i.imgur.com/GhwqK4f.png\" alt=\"Facebook\"></a>",
          "type": "string"
        },
        "updateStatus": {
          "description": "Example: UPDATED",
          "type": "string"
        },
        "oauth": {
          "description": "Example: {}",
          "type": "object"
        },
        "defaultVariableCategoryName": {
          "description": "Example: Social Interactions",
          "type": "string"
        },
        "connectorClientId": {
          "description": "Example: 225078261031461",
          "type": "string"
        },
        "longDescription": {
          "description": "Example: Facebook is a social networking website where users may create a personal profile, add other users as friends, and exchange messages.",
          "type": "string"
        },
        "enabled": {
          "description": "Example: 1",
          "type": "integer"
        },
        "linkedDisplayNameHtml": {
          "description": "Example: <a href=\"http://www.facebook.com\">Facebook</a>",
          "type": "string"
        },
        "clientId": {
          "description": "Example: ghostInspector",
          "type": "string"
        },
        "userId": {
          "description": "Example: 230",
          "type": "integer"
        },
        "connectorId": {
          "description": "Example: 8",
          "type": "integer"
        },
        "createdAt": {
          "description": "Example: 2000-01-01 00:00:00",
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "description": "Example: 2017-07-31 10:10:34",
          "type": "string",
          "format": "date-time"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Button"
          }
        },
        "affiliate": {
          "description": "Example: false",
          "type": "boolean"
        },
        "scopes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Scope"
          }
        },
        "connectError": {
          "description": "Example: Your token is expired. Please re-connect",
          "type": "string"
        }
      }
    },
    "ConversionStep": {
      "required": [
        "operation",
        "value"
      ],
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "MULTIPLY",
            "ADD"
          ],
          "description": "ADD or MULTIPLY"
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "This specifies the order of conversion steps starting with 0"
        }
      }
    },
    "UserCorrelation": {
      "required": [
        "correlationCoefficient",
        "cause",
        "effect",
        "onsetDelay",
        "durationOfAction",
        "numberOfPairs",
        "timestamp"
      ],
      "properties": {
        "averageDailyLowCause": {
          "type": "number",
          "description": ""
        },
        "averageDailyHighCause": {
          "type": "number",
          "description": ""
        },
        "averageEffect": {
          "type": "number",
          "description": ""
        },
        "averageEffectFollowingHighCause": {
          "type": "number",
          "description": ""
        },
        "averageEffectFollowingLowCause": {
          "type": "number",
          "description": ""
        },
        "averageEffectFollowingHighCauseExplanation": {
          "type": "string",
          "description": ""
        },
        "averageEffectFollowingLowCauseExplanation": {
          "type": "string",
          "description": ""
        },
        "averageVote": {
          "type": "number",
          "description": "Average Vote"
        },
        "causalityFactor": {
          "type": "number",
          "description": ""
        },
        "cause": {
          "type": "string",
          "description": "Variable name of the cause variable for which the user desires correlations."
        },
        "causeVariableCategoryName": {
          "type": "string",
          "description": "Variable category of the cause variable."
        },
        "causeChanges": {
          "type": "integer",
          "description": "Number of changes in the predictor variable (a.k.a the number of experiments)"
        },
        "causeVariableCombinationOperation": {
          "type": "string",
          "description": "The way cause measurements are aggregated"
        },
        "causeVariableImageUrl": {
          "type": "string",
          "description": ""
        },
        "causeVariableIonIcon": {
          "type": "string",
          "description": "For use in Ionic apps"
        },
        "causeUnit": {
          "type": "string",
          "description": "Unit of the predictor variable"
        },
        "causeVariableDefaultUnitId": {
          "type": "integer",
          "description": "Unit Id of the predictor variable"
        },
        "causeVariableId": {
          "type": "integer",
          "description": ""
        },
        "causeVariableName": {
          "type": "string",
          "description": "Variable name of the cause variable for which the user desires correlations."
        },
        "correlationCoefficient": {
          "type": "number",
          "description": "Pearson correlation coefficient between cause and effect measurements"
        },
        "createdAt": {
          "description": "When the record was first created. Use UTC ISO 8601 `YYYY-MM-DDThh:mm:ss`  datetime format",
          "type": "string",
          "format": "date-time"
        },
        "dataAnalysis": {
          "type": "string",
          "description": "How the data was analyzed"
        },
        "dataSources": {
          "type": "string",
          "description": "How the data was obtained"
        },
        "durationOfAction": {
          "type": "number",
          "description": "The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay."
        },
        "effect": {
          "type": "string",
          "description": "Variable name of the effect variable for which the user desires correlations."
        },
        "effectVariableCategoryName": {
          "type": "string",
          "description": "Variable category of the effect variable."
        },
        "effectVariableImageUrl": {
          "type": "string",
          "description": ""
        },
        "effectVariableIonIcon": {
          "type": "string",
          "description": "For use in Ionic apps"
        },
        "effectSize": {
          "type": "string",
          "description": "Magnitude of the effects of a cause indicating whether it's practically meaningful."
        },
        "effectVariableId": {
          "type": "string",
          "description": "Magnitude of the effects of a cause indicating whether it's practically meaningful."
        },
        "effectVariableName": {
          "type": "string",
          "description": "Variable name of the effect variable for which the user desires correlations."
        },
        "gaugeImage": {
          "type": "string",
          "description": "Illustrates the strength of the relationship"
        },
        "imageUrl": {
          "type": "string",
          "description": "Large image for Facebook"
        },
        "numberOfPairs": {
          "type": "number",
          "description": "Number of points that went into the correlation calculation"
        },
        "onsetDelay": {
          "type": "number",
          "format": "double",
          "description": "The amount of time in seconds that elapses after the predictor/stimulus event before the outcome as perceived by a self-tracker is known as the onset delay. For example, the onset delay between the time a person takes an aspirin (predictor/stimulus event) and the time a person perceives a change in their headache severity (outcome) is approximately 30 minutes."
        },
        "optimalPearsonProduct": {
          "type": "number",
          "description": "Optimal Pearson Product"
        },
        "outcomeDataSources": {
          "type": "string",
          "description": "original name of the cause."
        },
        "predictorExplanation": {
          "type": "string",
          "description": "HIGHER Remeron predicts HIGHER Overall Mood"
        },
        "principalInvestigator": {
          "type": "string",
          "description": "Mike Sinn"
        },
        "qmScore": {
          "type": "number",
          "description": "Value representing the significance of the relationship as a function of crowdsourced insights, predictive strength, data quantity, and data quality"
        },
        "reverseCorrelation": {
          "type": "number",
          "description": "Correlation when cause and effect are reversed. For any causal relationship, the forward correlation should exceed the reverse correlation."
        },
        "significanceExplanation": {
          "type": "string",
          "description": "Using a two-tailed t-test with alpha = 0.05, it was determined that the change..."
        },
        "statisticalSignificance": {
          "type": "string",
          "description": "A function of the effect size and sample size"
        },
        "strengthLevel": {
          "type": "string",
          "description": "weak, moderate, strong"
        },
        "studyAbstract": {
          "type": "string",
          "description": "These data suggest with a high degree of confidence..."
        },
        "studyBackground": {
          "type": "string",
          "description": "In order to reduce suffering through the advancement of human knowledge..."
        },
        "studyDesign": {
          "type": "string",
          "description": "This study is based on data donated by one QuantiModo user..."
        },
        "studyLimitations": {
          "type": "string",
          "description": "As with any human experiment, it was impossible to control for all potentially confounding variables..."
        },
        "studyLinkDynamic": {
          "type": "string",
          "description": "Url for the interactive study within the web app"
        },
        "studyLinkFacebook": {
          "type": "string",
          "description": "Url for sharing the study on Facebook"
        },
        "studyLinkGoogle": {
          "type": "string",
          "description": "Url for sharing the study on Google+"
        },
        "studyLinkTwitter": {
          "type": "string",
          "description": "Url for sharing the study on Twitter"
        },
        "studyLinkStatic": {
          "type": "string",
          "description": "Url for sharing the statically rendered study on social media"
        },
        "studyObjective": {
          "type": "string",
          "description": "The objective of this study is to determine..."
        },
        "studyResults": {
          "type": "string",
          "description": "This analysis suggests that..."
        },
        "studyTitle": {
          "type": "string",
          "description": "N1 Study HIGHER Remeron predicts HIGHER Overall Mood"
        },
        "timestamp": {
          "type": "number",
          "description": "Time at which correlation was calculated"
        },
        "updatedAt": {
          "description": "When the record in the database was last updated. Use UTC ISO 8601 `YYYY-MM-DDThh:mm:ss`  datetime format. Time zone should be UTC and not local.",
          "type": "string",
          "format": "date-time"
        },
        "userVote": {
          "type": "number",
          "description": "User Vote"
        },
        "valuePredictingHighOutcome": {
          "type": "number",
          "description": "cause value that predicts an above average effect value (in default unit for cause variable)"
        },
        "valuePredictingHighOutcomeExplanation": {
          "type": "string",
          "description": "Overall Mood, on average, 34% HIGHER after around 3.98mg Remeron"
        },
        "valuePredictingLowOutcome": {
          "type": "number",
          "description": "cause value that predicts a below average effect value (in default unit for cause variable)"
        },
        "valuePredictingLowOutcomeExplanation": {
          "type": "string",
          "description": "Overall Mood, on average, 4% LOWER after around 0mg Remeron"
        },
        "averageForwardPearsonCorrelationOverOnsetDelays": {
          "description": "Example: 0.396",
          "type": "number",
          "format": "double"
        },
        "averageReversePearsonCorrelationOverOnsetDelays": {
          "description": "Example: 0.453667",
          "type": "number",
          "format": "double"
        },
        "confidenceInterval": {
          "description": "Example: 0.14344467795996",
          "type": "number",
          "format": "double"
        },
        "criticalTValue": {
          "description": "Example: 1.646",
          "type": "number",
          "format": "double"
        },
        "effectChanges": {
          "description": "Example: 193",
          "type": "integer"
        },
        "experimentEndTime": {
          "description": "Example: 2014-07-30 12:50:00",
          "type": "string",
          "format": "date-time"
        },
        "experimentStartTime": {
          "description": "Example: 2012-05-06 21:15:00",
          "type": "string",
          "format": "date-time"
        },
        "forwardSpearmanCorrelationCoefficient": {
          "description": "Example: 0.528359",
          "type": "number",
          "format": "double"
        },
        "onsetDelayWithStrongestPearsonCorrelation": {
          "description": "Example: -86400",
          "type": "integer"
        },
        "pearsonCorrelationWithNoOnsetDelay": {
          "description": "Example: 0.477",
          "type": "number",
          "format": "double"
        },
        "predictivePearsonCorrelation": {
          "description": "Example: 0.538",
          "type": "number",
          "format": "double"
        },
        "predictsHighEffectChange": {
          "description": "Example: 17",
          "type": "integer"
        },
        "predictsLowEffectChange": {
          "description": "Example: -11",
          "type": "integer"
        },
        "strongestPearsonCorrelationCoefficient": {
          "description": "Example: 0.613",
          "type": "number",
          "format": "double"
        },
        "tValue": {
          "description": "Example: 9.6986079652717",
          "type": "number",
          "format": "double"
        },
        "userId": {
          "description": "Example: 230",
          "type": "integer"
        },
        "causeVariableMostCommonConnectorId": {
          "description": "Example: 6",
          "type": "integer"
        },
        "causeVariableCategoryId": {
          "description": "Example: 6",
          "type": "integer"
        },
        "effectVariableCombinationOperation": {
          "description": "Example: MEAN",
          "type": "string"
        },
        "effectVariableCommonAlias": {
          "description": "Example: Mood_(psychology)",
          "type": "string"
        },
        "effectVariableDefaultUnitId": {
          "description": "Example: 10",
[...]
